body {
    font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif !important;
}

pre {
    color: #586e75 !important;
}

nav {
    padding: 0.6em 0.6em;
    height: 3.3em;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}

section {
    margin: 10px;
    padding-top: 3em;
}

.container, .buttons-container {
    width: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .container, buttons-container {
	width: 90%;
    }

    .project {
	width: 100%;
    }
}

h1 { color: #F90B6D;
     font-size: 34px;
     font-weight: 300;
     line-height: 40px;
     margin: 0 0 16px; }

h2 { color: #F90B6D;
     font-size: 24px;
     font-weight: 300;
     line-height: 32px;}

a:hover { text-decoration: underline }

a {
    position: relative;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    margin: 0.75em;
}

.center {
    display: block;
    margin: 0 auto;
}

.post-content {
    margin-top: 40px;
}

img {
    display: block;
    max-width: 100%;
    max-height: 80vh;
    height: auto;
    margin: 0 auto;
}

.tag {
    flex-grow: 0 !important;
    margin: 0.3em !important;
}

.title h2 {
    padding: 0;
}

.subtitle p {
    margin-top: 0;
    font-size: 0.9em;
    font-style: italic;
}

.tags {
    width: 70%;
    margin: 0 auto;
}

.social i {
    color: #F90B6D;
}

.projects {
    align-items: flex-start;
    justify-content: space-evenly;
}

.project {
    margin: .6em;
    width: 45%;
}

footer {
    border-top: #0074d9 dashed 2px;
    padding: .6em;
}

a i {
    margin-right: 0.6em;
}

#separator:hover {
    text-decoration: none;
}
