.org-preprocessor,
.org-builtin {
    color: #afd7d7;
}

.org-comment-delimiter,
.org-comment {
    color: #ff8700;
}

.org-constant {
    color: #d33682;
}

.org-function-name {
    color: #268bd2;
}

.org-keyword {
    color: #859900;
}

.org-negation-char {
    color: #dc322f;
}

.org-regexp-grouping-backslash {
    color: #ffd787;
}

.org-regexp-grouping-construct {
    color: #d18aff;
}

.org-doc,
.org-doc-string,
.org-string {
    color: #2aa198;
}

.org-type {
    color: #87ff87;
}

.org-variable-name {
    color: #cb4b16;
}

.org-warning {
    color: #dd0000;
}
