title: Changing from a remote to a local path in ivy
date: 2020-12-29 01:58
tags: @tech, emacs, ivy
---
<p>
Just a simple quickie today, since I thought it would be good to document this for future
reference. When using <a href="https://www.gnu.org/software/tramp/">tramp</a> to access a remote file, directory etc you may want to copy or do
whatever manipulation to a local file/directory. In the default minibuffer this can be achieved by
inserting "/~/".
</p>

<p>
In ivy this works but is a little finicky. A better solution is to type "/ C-j". This way you can
jump to local paths from remote ones.
</p>
