title: Delete RMS from GNU?
date: 2020-09-28 16:51
tags: @social, politics, blog
---
<blockquote>
<p>
These are some thoughts I had during the whole issue that led Richard
Stallman to step down from FSF presidency. They may be out of time, but
seeing that the cancel culture is only spreading, and many times endorsed
by Big Tech, I thought I would share these thoughts here. 
</p>

<p>
These mostly answer on the call for RMS to step down from GNU as well.
</p>
</blockquote>

<p>
If I'm allowed to jack in with a little comment here. GNU is not
something official, it is a project, an initiative and specifically
RMS's initiative for creating a free software system.
</p>

<p>
So in that case, I find it obvious that the current leader and founder
of it is not accountable to anyone. It's his project. I don't really
understand why people want to get him out of his project. If you don't
like it just create your initiative and stop creating GNU
software. It's ok, sometimes we can't get on with everyone. The fine
people at Software Free Conservancy did so.
</p>

<p>
I still don't like what happened in FSF. But then it was its
choice. RMS seems that he still wants to lead GNU. It's his project
and he doesn't seem to care a lot about marketing so I don't think he
will let go. People who contribute to GNU are assumed to at least be
in line with the minimal requirements for doing so. If someone wants a
more community oriented governance they can create their own
structure.
</p>

<p>
I would be very willing to hear why FSF shall cease to support GNU. Is
RMS some evil figure that will destroy everything? Is GNU not true to
its principles or the principles of FSF?
</p>

<p>
I truly accept that maybe the GNU community is not for everyone. That
maybe some choices weren't really inclusive and that alienated parts
of its community. I haven't personally observed that but I still
believe that this is probably true, since lot's of people have said it
happens. I accept that some people involved would like to have more
power in what happens and how things are managed. But they were never
promised that this would happen.
</p>

<p>
So please, and in truly good faith, people that feel so start your own
movement. With the CoC you want, with the model of governance you
want, fixing all the mistakes of GNU and FSF. But trying to hijack
another movement? I find GNU acceptable under RMS' governance so I
choose to participate in it. But then you may find it unacceptable. At
the same time more initiatives are good. This way even people that
have different values and ideas can still participate in free software
communities. This would be wonderful. Imagine a group of left-wing free
software hackers, a group of right-wing free software hackers, a group
of non-political free software hackers (if such a thing exists),
anarchists etc..
</p>

<p>
We don't need a mother-ship in free software. Decentralize the
movement so it can have the widest possible appeal. That would be
great for everyone. People would participate in communities they feel
they can actually express themselves into.
</p>

<p>
What happens the last months only works against free software. We are
just attacking each other. This needs to stop in my opinion.
</p>

<p>
For all I care, GNU could go down and burn and I'm not holding RMS in any
special status. I don't think that any human can be held as a moral
compass. He is just human. But trying to delete the man from the movement
he started and offered his life in, it's sad. He has all the right to run
the movement like he wants to. If you want something different fork, stop
nagging. That's the free software ethos, that's the community ethos, that's
the hacker ethos.
</p>

<p>
When I see people working in Salesforce, or worse, trying to hold RMS
accountable for his commentary on what is rape or not, I can't help
but laugh.
</p>

<p>
I'm writing this wall of text as an outcry of what happens lately. All
in good faith. I try to understand all your reasons, I just don't
agree with your actions. I would like to hear why you believe that it
would be of value for the free software movement GNU getting hijacked
instead of another movement spawning. Why cause conflict between
people that feel aligned with GNU/RMS and those that don't? We work on
the same thing. How we organize and engage in our communities is our
choice. Why is that we shall have just one type of community?</p>
