title: Digital liberation - erase 'em all
date: 2020-07-26 15:01
tags: @social, privacy, blog
---
<p>
Ah, holidays. Amidst the pandemic and the total chaos, I found a place to relax and re-organize my
life. I'm one of the privileged people on earth that can do this right now. To everyone facing the
severe consequences of our time, my thoughts are with you. I wish I could do more to support you, so
feel free to contact me if needed.
</p>

<p>
Anyways, since I have time on my hands, I decided to clean up the residue of being a netizen for
over 10 years. Old accounts in web applications, most of them in company silos that I don't want to
endorse in any way. Starting with my online git repos, I deleted my github account. After the
microsoft acquisition I stopped using my account and so it is a surprise that it survived so long.
</p>

<p>
Why I want to stay away from microsoft products shouldn't be a surprise. Richard Stallman has a
collection of facts that prove that using them is in fact being used by them<sup><a id="fnr.1" class="footref" href="#fn.1">1</a></sup>. 
</p>

<p>
I also deleted my non-active twitter account, my gmail account, dropbox and all other of services
that I signed up for all these years. It feels liberating. At the same time I don't have
illusions. I've fed a lot of personal data into these machines and my privacy is terribly
compromised. This is not a cause for despair though. At any point we can reclaim some privacy back
and deleting my accounts is a step to this direction.
</p>

<p>
Modern web disservices are insatiable monsters that devour our data. Given the power that is hidden
in these data, it's safe to assume that they will be used for malicious purposes. That's what
history has proved repeatedly. 
</p>

<p>
An interesting hack would be to spam these services with useless and fake data. I think this kind of
activism is one of the answers to surveillance capitalism. If anyone has any ideas on how to
successfully create such a distraction at a large scale, I would be most willing to help
implementing and utilizing it.
</p>
<div id="footnotes">
<h2 class="footnotes">Footnotes: </h2>
<div id="text-footnotes">

<div class="footdef"><sup><a id="fn.1" class="footnum" href="#fnr.1">1</a></sup> <div class="footpara"><p class="footpara">
<a href="https://stallman.org/microsoft.html">Reasons not to use Microsoft</a> 
</p></div></div>


</div>
</div>
