title: Enabling an old android phone as a webcam
date: 2020-11-09 23:01
tags: @tech, android, webcam
---
<p>
It's not a surprise that webcams are in demand right now. I recently came in need of one, since I
started tutoring online again. Searching around to buy a Logitech C270, I came to realize that the
prices have more than doubled for a webcam that is quite old actually. 
</p>

<p>
I was pretty irritated and hesitant to spend around 50€ for a webcam, so I started exploring other
solutions. I have around an old Motorola E2 android phone. I already use it as a tethering device
(among other things) and thought that it would quite nice to use this as a webcam. Meet DroidCam!
It's a (sadly proprietary) android application that can serve the video feed from your phone as a
webcam feed to your computer.
</p>

<p>
The installation process is pretty straight forward, get the apk somewhere to install on your phone
and then follow the instructions <a href="https://www.dev47apps.com/droidcam/linux/">here</a> to install the program and drivers for your (gnu/linux)
computer. This will then register the android camera as v4l2loopback device, that will work as
proper webcam for most applications - I haven't encountered any problems, using jitsi both natively
and the web app and obs studio.
</p>

<p>
However the fact that I had to reach my mobile in order to enable the webcam was a bit boring so I
decided to write a simple script to enable and disable it. In order to do so, it is needed to have
installed and configured adb as well as the psutil python library and of course a python
interpreter. If you try to use it don't forget to set your passkey and also define the preferred
connection method (check out the droidcam documentation). 
</p>

<p>
So here is the script:
</p>

<div class="org-src-container">
<pre class="src src-python"><span class="org-comment-delimiter">#</span><span class="org-comment">!/usr/bin/env python</span>
<span class="org-keyword">from</span> subprocess <span class="org-keyword">import</span> call
<span class="org-keyword">from</span> time <span class="org-keyword">import</span> sleep
<span class="org-keyword">import</span> psutil

<span class="org-variable-name">port</span> = <span class="org-string">"4747"</span>
<span class="org-variable-name">package</span> = <span class="org-string">"com.dev47apps.droidcam"</span>
<span class="org-variable-name">connection</span> = <span class="org-string">"adb"</span> <span class="org-comment-delimiter">#</span><span class="org-comment">pass the ip here if you want a network connection</span>
<span class="org-variable-name">unlock_passkey</span> = <span class="org-string">"****"</span>
<span class="org-comment-delimiter"># </span><span class="org-comment">keycodes for android</span>
<span class="org-variable-name">key_power</span> = <span class="org-string">"26"</span>
<span class="org-variable-name">key_menu</span> = <span class="org-string">"82"</span>
<span class="org-variable-name">key_enter</span> = <span class="org-string">"66"</span>

<span class="org-keyword">def</span> <span class="org-function-name">checkDroidCam</span><span class="org-rainbow-delimiters-depth-1">()</span>:
    <span class="org-keyword">for</span> proc <span class="org-keyword">in</span> psutil.process_iter<span class="org-rainbow-delimiters-depth-1">()</span>:
        <span class="org-keyword">try</span>:
            <span class="org-keyword">if</span> <span class="org-string">'droidcam'</span> <span class="org-keyword">in</span> proc.name<span class="org-rainbow-delimiters-depth-1">()</span>.lower<span class="org-rainbow-delimiters-depth-1">()</span>:
                <span class="org-keyword">return</span> <span class="org-constant">True</span>
        <span class="org-keyword">except</span> <span class="org-rainbow-delimiters-depth-1">(</span>psutil.NoSuchProcess, psutil.AccessDenied, psutil.ZombieProcess<span class="org-rainbow-delimiters-depth-1">)</span>:
            <span class="org-keyword">pass</span>
    <span class="org-keyword">return</span> <span class="org-constant">False</span>    

<span class="org-keyword">def</span> <span class="org-function-name">enableWebCam</span><span class="org-rainbow-delimiters-depth-1">()</span>:
    <span class="org-comment-delimiter"># </span><span class="org-comment">unlock the phone</span>
    call<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-rainbow-delimiters-depth-2">[</span><span class="org-string">"adb"</span>, <span class="org-string">"shell"</span>, <span class="org-string">"input"</span>, <span class="org-string">"keyevent"</span>, key_power<span class="org-rainbow-delimiters-depth-2">]</span><span class="org-rainbow-delimiters-depth-1">)</span>
    call<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-rainbow-delimiters-depth-2">[</span><span class="org-string">"adb"</span>, <span class="org-string">"shell"</span>, <span class="org-string">"input"</span>, <span class="org-string">"keyevent"</span>, key_menu<span class="org-rainbow-delimiters-depth-2">]</span><span class="org-rainbow-delimiters-depth-1">)</span>
    call<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-rainbow-delimiters-depth-2">[</span><span class="org-string">"adb"</span>, <span class="org-string">"shell"</span>, <span class="org-string">"input"</span>, <span class="org-string">"text"</span>, unlock_passkey<span class="org-rainbow-delimiters-depth-2">]</span><span class="org-rainbow-delimiters-depth-1">)</span>
    call<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-rainbow-delimiters-depth-2">[</span><span class="org-string">"adb"</span>, <span class="org-string">"shell"</span>, <span class="org-string">"input"</span>, <span class="org-string">"keyevent"</span>, key_enter<span class="org-rainbow-delimiters-depth-2">]</span><span class="org-rainbow-delimiters-depth-1">)</span>

    <span class="org-comment-delimiter"># </span><span class="org-comment">start the android application</span>
    call<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-rainbow-delimiters-depth-2">[</span><span class="org-string">"adb"</span>, <span class="org-string">"shell"</span>, <span class="org-string">"monkey"</span>, <span class="org-string">"-p"</span>, package, <span class="org-string">"1"</span><span class="org-rainbow-delimiters-depth-2">]</span><span class="org-rainbow-delimiters-depth-1">)</span>

    <span class="org-comment-delimiter"># </span><span class="org-comment">connect</span>
    sleep<span class="org-rainbow-delimiters-depth-1">(</span>2<span class="org-rainbow-delimiters-depth-1">)</span>
    call<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-rainbow-delimiters-depth-2">[</span><span class="org-string">"droidcam-cli"</span>, connection, port<span class="org-rainbow-delimiters-depth-2">]</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-keyword">def</span> <span class="org-function-name">disableWebCam</span><span class="org-rainbow-delimiters-depth-1">()</span>:
    call<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-rainbow-delimiters-depth-2">[</span><span class="org-string">"killall"</span>, <span class="org-string">"droidcam-cli"</span><span class="org-rainbow-delimiters-depth-2">]</span><span class="org-rainbow-delimiters-depth-1">)</span>
    call<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-rainbow-delimiters-depth-2">[</span><span class="org-string">"adb"</span>, <span class="org-string">"shell"</span>, <span class="org-string">"am"</span>, <span class="org-string">"force-stop"</span>, package<span class="org-rainbow-delimiters-depth-2">]</span><span class="org-rainbow-delimiters-depth-1">)</span>
    call<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-rainbow-delimiters-depth-2">[</span><span class="org-string">"adb"</span>, <span class="org-string">"shell"</span>, <span class="org-string">"input"</span>, <span class="org-string">"keyevent"</span>, key_power<span class="org-rainbow-delimiters-depth-2">]</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-keyword">def</span> <span class="org-function-name">main</span><span class="org-rainbow-delimiters-depth-1">()</span>:    
    <span class="org-keyword">if</span> checkDroidCam<span class="org-rainbow-delimiters-depth-1">()</span>:
        disableWebCam<span class="org-rainbow-delimiters-depth-1">()</span>
    <span class="org-keyword">else</span>:
        enableWebCam<span class="org-rainbow-delimiters-depth-1">()</span>

<span class="org-keyword">if</span> <span class="org-builtin">__name__</span> == <span class="org-string">"__main__"</span>:
    main<span class="org-rainbow-delimiters-depth-1">()</span>
</pre>
</div>

<p>
Nothing special for sure, but it's a nice feature to have given that now I can mount it on my desk
in a nice angle and never have to move the phone again. By running the script with a keybinding I
can have the laptop feeling of enabling my webcam and also cleanly exit from droidcam when not
needed anymore.
</p>

<p>
Even if you don't have an old phone around you can buy one for quite cheap and use it as webcam,
along with using it as a Piratebox, server or any other usage that a tiny computer may have. To be
honest this sounds a much better investement that the prices that webcams have reached right
now. And for the range of money the image is much better as well!
</p>

<p>
📷 📷 📷 
</p>
