title: FOSDEM 2021
date: 2021-02-06 15:40
tags: @tech, conference
---
<p>
For anyone that has not heard it already, FOSDEM 2021 is up right now.
</p>

<p>
I'm eagerly awaiting for Ricardo Wurmus' talk on <a href="https://fosdem.org/2021/schedule/event/guix_workflow/">Guix workflow language</a>, and I'll be around many
other talks either. Tomorrow the <a href="https://fosdem.org/2021/schedule/track/declarative_and_minimalistic_computing/">Declarative and minimalistic computing</a> track has many interesting
talks on Guix, Spritely, Nyxt and many other very interesting projects.
</p>

<p>
As always, it's a very nice work, and very accesible through the matrix protocol. Check around and
you'll surely find some very interesting talks on a wide array of subjects in free software.
</p>
