title: Grabing OpenGraph data with Common Lisp
date: 2021-11-17 22:06
tags: @tech, cl
---
<p>
This is going to be a short article, mainly to warm up myself for other posts that I have shelved
too long. Lately I've trying to complete one project that I work on for quite a long time, although
I haven't put more than 8 hours of work in it. This stale's project name is discordia-chan and it
will be a service, that you can self-host and add an imageboard inspired discussion thread in your
static blog, podcast page or other website.
</p>

<p>
The front-end of the service is developed with VueJS and already published, although admittedly at a
very early stage, and the back-end is developed with Common Lisp and will be published soon as well.
</p>

<p>
One of the things that I had to decide, was how to create the initial post, ie how to fill the
starting post of the thread. My idea is to use the ubiquitous Open Graph protocol<sup><a id="fnr.1" class="footref" href="#fn.1">1</a></sup>, so that we just
need to fetch the data from the URL and have titles, images, descriptions and any other data we need
to initiate the conversation. This also allows a lot of customization for the user of the service,
since she can choose the tags to use for the thread and with what data to provide it.
</p>

<p>
The starting point for this was the ability to fetch such data. This way when the server gets asked
for a thread (identified by its URL), if such thread doesn't exist, it can grab the Open Graph data
and create a new one.
</p>

<p>
To do this with Common Lisp turned out to be fairly easy. Using the drakma<sup><a id="fnr.2" class="footref" href="#fn.2">2</a></sup> http client, and lquery<sup><a id="fnr.3" class="footref" href="#fn.3">3</a></sup>
for parsing the html and selecting the appropriate data, it turned out to be just a few lines of
code:
</p>

<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">*opengraph-css-selector*</span> <span class="org-string">"meta[property^=og:]"</span><span class="org-rainbow-delimiters-depth-1">)</span>
<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">*opengraph-char-removal*</span> <span class="org-string">"og:"</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">get-opengraph-data</span> <span class="org-rainbow-delimiters-depth-2">(</span>url<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-doc">"Grabs a url and returns an alist of its opengraph data."</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">let*</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>html <span class="org-rainbow-delimiters-depth-5">(</span>http-request url<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
         <span class="org-rainbow-delimiters-depth-4">(</span>parsed-html <span class="org-rainbow-delimiters-depth-5">(</span>$ <span class="org-rainbow-delimiters-depth-6">(</span>initialize html<span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
         <span class="org-rainbow-delimiters-depth-4">(</span>properties <span class="org-rainbow-delimiters-depth-5">(</span>map 'list <span class="org-rainbow-delimiters-depth-6">(</span><span class="org-keyword">lambda</span> <span class="org-rainbow-delimiters-depth-7">(</span>x<span class="org-rainbow-delimiters-depth-7">)</span>
                               <span class="org-rainbow-delimiters-depth-7">(</span>string-trim *opengraph-char-removal* x<span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span>
                      <span class="org-rainbow-delimiters-depth-6">(</span>$ parsed-html *opengraph-css-selector* <span class="org-rainbow-delimiters-depth-7">(</span><span class="org-builtin">:attr</span> <span class="org-string">"property"</span><span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
         <span class="org-rainbow-delimiters-depth-4">(</span>contents <span class="org-rainbow-delimiters-depth-5">(</span>$ parsed-html *opengraph-css-selector* <span class="org-rainbow-delimiters-depth-6">(</span><span class="org-builtin">:attr</span> <span class="org-string">"content"</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>map 'list #'cons properties contents<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
Now calling:
</p>
<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span>get-opengraph-data <span class="org-string">"https://www.imdb.com/title/tt0092675/"</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
gets you:
</p>
<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-rainbow-delimiters-depth-2">(</span><span class="org-string">"url"</span> . <span class="org-string">"https://www.imdb.com/title/tt0092675/"</span><span class="org-rainbow-delimiters-depth-2">)</span> <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-string">"site_name"</span> . <span class="org-string">"IMDb"</span><span class="org-rainbow-delimiters-depth-2">)</span>
 <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-string">"title"</span> . <span class="org-string">"&#924;&#941;&#967;&#961;&#953; &#964;&#949;&#955;&#953;&#954;&#942;&#962; &#960;&#964;&#974;&#963;&#949;&#969;&#962; (1988) - IMDb"</span><span class="org-rainbow-delimiters-depth-2">)</span>
 <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-string">"description"</span>
  . <span class="org-string">"&#924;&#941;&#967;&#961;&#953; &#964;&#949;&#955;&#953;&#954;&#942;&#962; &#960;&#964;&#974;&#963;&#949;&#969;&#962;: Directed by Newt Arnold. With Jean-Claude Van Damme, Donald Gibb, Leah Ayres, Norman Burton. \"Bloodsport\" follows Frank Dux, an American martial artist serving in the military, who decides to leave the army to compete in a martial arts tournament in Hong Kong where fights to the death can occur."</span><span class="org-rainbow-delimiters-depth-2">)</span>
 <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-string">"type"</span> . <span class="org-string">"video.movie"</span><span class="org-rainbow-delimiters-depth-2">)</span>
 <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-string">"image"</span>
  . <span class="org-string">"https://m.media-amazon.com/images/M/MV5BNTJmMGEzMTQtMzQzMi00YjE1LWI4MTctNjY0NWZiYzE2MDVhXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_FMjpg_UX1000_.jpg"</span><span class="org-rainbow-delimiters-depth-2">)</span>
 <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-string">"image:height"</span> . <span class="org-string">"1561.218836565097"</span><span class="org-rainbow-delimiters-depth-2">)</span> <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-string">"image:width"</span> . <span class="org-string">"1000"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
There is a misconception sometimes that Common Lisp doesn't have enough libraries and while this can
be true sometimes, for most cases I find myself covered. Both of the used libraries are excellent
and really well developed.
</p>

<p>
Anyways, that's all for now.
&#x2013;,&#x2013;@
</p>
<div id="footnotes">
<h2 class="footnotes">Footnotes: </h2>
<div id="text-footnotes">

<div class="footdef"><sup><a id="fn.1" class="footnum" href="#fnr.1">1</a></sup> <div class="footpara"><p class="footpara">
<a href="https://ogp.me/">https://ogp.me/</a> 
</p></div></div>

<div class="footdef"><sup><a id="fn.2" class="footnum" href="#fnr.2">2</a></sup> <div class="footpara"><p class="footpara">
<a href="https://edicl.github.io/drakma/">https://edicl.github.io/drakma/</a> 
</p></div></div>

<div class="footdef"><sup><a id="fn.3" class="footnum" href="#fnr.3">3</a></sup> <div class="footpara"><p class="footpara">
<a href="https://shinmera.github.io/lquery/">https://shinmera.github.io/lquery/</a> 
</p></div></div>


</div>
</div>
