title: Happy new year
date: 2021-01-03 00:21
tags: @personal, blog
---
<p>
Well, it's been a long year and a new one just came around the corner. I wish everyone to be healthy
and passionate for the year to come (and all years after it)!
</p>

<p>
For me to be honest this was a highly productive year, and I feel blessed that I had the opportunity
to take part in many new things, learn lot's of interesting stuff and meet cool new people. So
thanks everyone, here (in the wired) or out there (the meatspace), for everything.
</p>

<p>
As for now since I'm blocked by having to do some magic to do R code able to fit about a million
paths into markovian chain models (it's highly probable that C is the answer to this problem), I
will postpone my resolutions for a week or so. 
</p>

<p>
Anyways, that's all for now, and see you around in 2021.
</p>
