title: Hot hot summer of 2021
date: 2021-07-16 14:02
tags: @personal, blog
---
<p>
It's been a while since I wrote in this blog and mostly I suffer from the heat down here in a
non-descript country of the southern Europe. People, me included, are mostly trying to get back in
feeling comfortable with others and that takes time. Isolation is good only if you don't plan to
reclaim you socialization.
</p>

<p>
Anyways, after a month of letting go everything and practicing the zen of self-destruction, I'm back
on my usual journey of learning and creating. At least for now math seems to be my main interest as
well, intersected with doing progress on the <a href="https://developers.google.com/machine-learning/crash-course/ml-intro">google machine learning course</a>. Some coursera MOOCs are
in the schedule as well, for long half finished. <a href="https://www.coursera.org/learn/analysis-of-algorithms/">Analysis of algorithms</a> is one that I find
interesting enough, heavily math based but with a bit of boring presentation from the tutor
R. Sedgewick. It's ok though since the subject is interesting enough to ascend such trivialities.
</p>

<p>
Work-wise I'm mainly doing bureaucratic reports, some web design and some business planing but with
not much fervor. I think I would like to have some creative touch-in with programming again, since
my work lately was mostly web-grunt work, of the kind that you have to organize conferences with
nifty head-tags for it bear any semblance of intelligent work. Meaning boring as fuck.
</p>

<p>
I want to thank Alan Watts, my past and current girlfriends, the friends that helped me when I was
drunk, my parents that were only given back disappointments and the very nature that helps me feel
somewhat included, the wild animals I met most nights returning home and of course the other me that
doesn't say a word all these years. I want them to know that I try to treat all of them with
kindness.
</p>

<p>
Anyways, this a just a post to remind myself that I bound myself to express at least some thoughts
of mine to the external world. And a promise to cater more for this past promise.
</p>

<p>
And if by chance an unknown reader stumbles upon here, thanks for your time writing these
words. There would be better uses of your time, that's for sure.
</p>

<p>
&#x2013;,&#x2013;@
</p>
