title: Lurking in the interwebs and Markov chains
date: 2021-03-05 00:29
tags: tech, math, web
---
<div id="outline-container-org9c899b2" class="outline-2">
<h2 id="org9c899b2">lurking around in the web</h2>
<div class="outline-text-2" id="text-org9c899b2">
<p>
It's procrastination time once again. I open up the web browser and start going around, "surfing"
the web, clicking on links and doing such things. But how does my mind work? How do I click the next
link. The pointless browsing around in the web, is an experience I feel we all can feel close
to. Many scientists have tried to find patterns in such behaviors, to find models that describe
them, probably in order for business-people to sell us more gadgets, but alas, I digress.
</p>

<p>
The point is I feel that in our most insignificant moments, the moments where are choices are not
inherently rational, is a point of behavior we people struggle to recognize and most importantly to
anticipate. Science has done great work to research such issues. For this post, I'll be considered
with one simple question. When mindlessly browsing around, how far (in our browsing history) can we
track the the influence to our next choice of link? In particular when choosing a link, does it
matter where I am, where I was two links before, three links before, or is it maybe completely
random.
</p>

<p>
Trying to answer the previous question I will try to present and recreate, at least partially, the
paper by <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0102070">Singer, Helic, Taraghi and Strohamier, "Detecting Memory and Structure in Human Navigation
Patterns Using Markov Chain Models of Varying Order"</a>. Here there is provided a model with which we
can simulate the hypotheses of our problem, and test them on some public data.
</p>
</div>
</div>

<div id="outline-container-orgf790d99" class="outline-2">
<h2 id="orgf790d99">how the past affects us</h2>
<div class="outline-text-2" id="text-orgf790d99">
<p>
To make the methodology clear, first we have to talk a bit about <a href="https://en.wikipedia.org/wiki/Markov_chain">Markov chains</a>. They are a model
(stochastic model), that describes the sequence of events. In these chains, the probability to for
an event to arise depends only on the state of a number of past events. Here we will use a
discrete time Markov chain since the interactions with a website happen in discrete time, i.e. every
time the user hits on a new link.
</p>

<p>
The order of Markov chain is the number of events we have to take in mind when calculating the
probability for a next event. For example for an order of 2 we have to take in mind two events in
the past. For the readers that have some background in probability notations that would mean that:
\[ P(X_{n+1}) = x_{n+1} \vert X_1 = x_1, X_2 = x_2, \ldots, X_n = x_n) = P(X_{n+1} = x_{n+1} \vert
X_{n-1} = x_{n-1}, X_n = x_n )\],
</p>

<p>
with \(X_i\) being the random variable which models the i-th event.
</p>

<p>
Just a long equation to show that the probability of the next event just depends, on the two events
that preceded it.
</p>

<p>
In our case, we want to see whether the way we choose the next topic to browse in a web page can be
modeled by a higher-order Markov chain. Most applications assume that human navigation is memory-less
i.e. just the page we our currently browsing affects our next link. Together with the fact that
higher-order models are more complex, this has proved out to be fairly pragmatic with applications
that include <a href="https://en.wikipedia.org/wiki/PageRank">google's pagerank algorithm</a>. However a deeper understanding of the relation of our
choices in navigation can provide deeper insight for the way we use computers (or computers use us,
but let's leave these comments for the epilogue).
</p>

<p>
To test our cases we will use some the following method:
</p>

<ol class="org-ol">
<li>Fit the data into Markov chains of order up to 5</li>
<li>Compare the models using the <a href="https://en.wikipedia.org/wiki/Likelihood_function">likelihood ratio</a> and the <a href="https://en.wikipedia.org/wiki/Akaike_information_criterion">AIC</a>, <a href="https://en.wikipedia.org/wiki/Bayesian_information_criterion">BIC</a> criteria.</li>
</ol>
</div>
</div>

<div id="outline-container-orge4854e9" class="outline-2">
<h2 id="orge4854e9">the experiment</h2>
<div class="outline-text-2" id="text-orge4854e9">
<p>
I tried to recreate the tools that where developed for the aforementioned paper in R<sup><a id="fnr.1" class="footref" href="#fn.1">1</a></sup>. In hindsight R
was not the most appropriate language for this (or I was not the most suitable person to develop
them in R) but at least it was working. Anyways my implementation in R, along with a sloppy Common
Lisp implementation can be found <a href="https://git.sr.ht/~bendersteed/markov-chains-web-navigation">here</a>.
</p>

<p>
For demonstration we will use the famous MSNBC dataset<sup><a id="fnr.2" class="footref" href="#fn.2">2</a></sup>, which provides paths of topical
navigation, i.e. navigation nodes between topics. To prepare the data we add another topic as filler
between the distinct paths, so we can treat the dataset as one ergodic Markov Chain. The number of
filler topic nodes is relevant to the order of Markov chain we want to fit as.
</p>

<p>
The frequencies of the topics in our dataset can be seen below:
<img src="../assets/img/freqs.jpg" alt="freqs.jpg" />
</p>

<p>
Running:
</p>
<div class="org-src-container">
<pre class="src src-R">simulation<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-string">"dataset"</span>, max-order, number-of-states<span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
we get the following results:
<img src="../assets/img/2021-03-05_00-14-42_screenshot.png" alt="2021-03-05_00-14-42_screenshot.png" />
<img src="../assets/img/2021-03-05_00-14-58_screenshot.png" alt="2021-03-05_00-14-58_screenshot.png" />
Graphing these results we can get more insight one them:
<img src="../assets/img/logl.jpg" alt="logl.jpg" />
</p>

<p>
The log-likelihoods seem to always suggest higher-order models. This is to be expected since,
high-order models are encapsulating the lower-order ones. To bypass this we can use the
likelihood-ratio and do hypothesis testing between each two models. Still observing the previous
data we can see that going from order one models to higher the p-value is also and as such we have a
very small significance level, which makes us to prefer higher order models.
</p>

<p>
<img src="../assets/img/aic.jpg" alt="aic.jpg" />
<img src="../assets/img/bic.jpg" alt="bic.jpg" />
</p>

<p>
The AIC and BIC criteria seem to suggest the second and third order models accordingly. 
</p>
</div>
</div>

<div id="outline-container-org211a90a" class="outline-2">
<h2 id="org211a90a">looking ahead</h2>
<div class="outline-text-2" id="text-org211a90a">
<p>
So, is it worth it, to create algorithms that are based on higher order models? The data (presented
here but most importantly in the paper presented at the start) seem to suggest that this is the
case. However our world is one of concessions. Higher order Markov chains induce a high complexity
in algorithms, with non researched margins of improvement. At the same time, they could be a very
probable step forward in suggestion algorithms and such problems. Time only will tell!</p>
</div>
</div>
<div id="footnotes">
<h2 class="footnotes">Footnotes: </h2>
<div id="text-footnotes">

<div class="footdef"><sup><a id="fn.1" class="footnum" href="#fnr.1">1</a></sup> <div class="footpara"><p class="footpara">
<a href="https://github.com/psinger/PathTools">https://github.com/psinger/PathTools</a> 
</p></div></div>

<div class="footdef"><sup><a id="fn.2" class="footnum" href="#fnr.2">2</a></sup> <div class="footpara"><p class="footpara">
<a href="http://kdd.ics.uci.edu/databases/msnbc/msnbc.data.html">http://kdd.ics.uci.edu/databases/msnbc/msnbc.data.html</a> 
</p></div></div>


</div>
</div>
