title: Society of control in the things we build
date: 2020-09-29 09:58
tags: @social, privacy, blog
---
<p>
So another social post, but what can I do when inspiration hits my door?
This piece was conceived after the suggestion to read a piece of Gilles
Deleuze called <a href="https://www.nadir.org/nadir/archiv/netzkritik/societyofcontrol.html">"Society of Control"</a>. Its main concept is the transition of
societies that are labeled as disciplinary, societies that organize
themselves around closed spaces of certain laws. The person moves from a
space to other, i.e. from the family, to work, to hospital, adhering to
each rule-set of the enclosure.
</p>

<p>
Transcending these disciplinary societies is the new model of society of
control. In this new sense:
</p>

<blockquote>
<p>
In the disciplinary societies one was always starting again (from school to
the barracks, from the barracks to the factory), while in the societies of
control one is never finished with anything &#x2013; the corporation, the
educational system, the armed services being metastable states coexisting
in one and the same modulation, like a universal system of deformation.
</p>
</blockquote>

<p>
Sounds familiar? Thought so myself, so I decided to apply this view on a
few pillars I found interesting.
</p>

<div id="outline-container-org66d3888" class="outline-2">
<h2 id="org66d3888">computer software</h2>
<div class="outline-text-2" id="text-org66d3888">
<p>
Deleuze somewhat touches on machine production, commenting:
</p>
<blockquote>
<p>
The old societies of sovereignty made use of simple machines&#x2013;levers,
pulleys, clocks; but the recent disciplinary societies equipped themselves
with machines involving energy, with the passive danger of entropy and the
active danger of sabotage; the societies of control operate with machines
of a third type, computers, whose passive danger is jamming and whose
active one is piracy or the introduction of viruses.
</p>
</blockquote>

<p>
However by observing carefully the software industry, we can observe the
same transition in computers and especially software. The first forms of
computers aligned with disciplinary society. They were huge machines, with
many users and complex rules, constituting an enclosure in themselves. Even
in recent years, buying for example Windows 95, would buy you a monolithic
operating system, stable and with highly defined interactions.
</p>

<p>
The transition can be traced on the release of the first iPhone. Although
the rolling model of software was experimented with at free software
projects, the control it imposed was realized as the AppStore. In there
software was "assured" by a central agency and also it updated on its own,
many times changing interaction with the user. The user now was at a
perpetual state of learning. 
</p>

<p>
This was made even more extreme after the solidification of computers as
always connected devices. By being exposed to the threats of networking,
computers had to be always updating, always changing, to keep all virus and
malware away. Windows Update has become a meme of interrupting users. Web
applications break the contract with their users at any chance, by
releasing often, experimenting with the users, creating new interfaces on
the fly, new end user agreements and privacy policies. At the same time the
publicity imposed by this connectivity brought the corporation in the mind
of the user, who would filter his communication through corporation conduct
rules. 
</p>

<p>
Constant tracking, advertising and insidious psychological operations are
then used to explore the next depths of control.
</p>
</div>
</div>

<div id="outline-container-org443b71b" class="outline-2">
<h2 id="org443b71b">work</h2>
<div class="outline-text-2" id="text-org443b71b">
<p>
In work the effects are mostly evident. The modern worker jumps around
jobs, constantly seeking to acquire more professional skills. The
gratification of the process is gamified, with corporation needs appearing
as "hobbies" in individuals. Apart from the obvious introduction of the
"corporation" in schools/universities, it has even invaded the free time of
workers, becoming a spook of productivity, a constant feeling of distress. 
</p>

<p>
The new work place is a place of uncertainty, where the corporation extends
from education in non-visible borders; it expands gradually into the
visible sphere as a continuous function of renewable needs.
</p>
</div>
</div>

<div id="outline-container-org92663f6" class="outline-2">
<h2 id="org92663f6">ideology</h2>
<div class="outline-text-2" id="text-org92663f6">
<p>
Ideology as seen as a product, can also be seen as constructed the forms of
societal organization. Since the spiritual corporation, with its ethereal
promises invaded the worker, his ideology morphed to that. By leaving
behind the infinite identity of nation - the thousand years Reich - and
left/right, the new worker has accepted a continuous stream of post-modern
group identity. From "alt-right" to "SJW", the person accepts a constantly
changing set of beliefs, evolved not by its discourse, but externally as
part of media campaigns or cyber-trolling.
</p>

<p>
The person can't any longer argue for its beliefs. While in disciplinary
societies freedom of speech was unaccounted for since the system already
reigned upon the partial enclosures, in so cities of control speech is an
impediment to the group identity. New ways of outrage or enthusiasm emerge
every day, respect gets legalized or abolished, conduct is based upon
artificial constraints - not unlike the ones imposed by proper business
conduct. Friendship, sexuality and communication are commodified by ever
changing contracts, promising liberation and safety.
</p>

<p>
The resulting landscape is one of reproducing anxiety. Not conforming to
any of these contracts ostracizes the person out of discord - it's labeled
as fascist, leftist, etc-phobe. Canceling works as ultimate force to not
speaking. Corporations fire people based on out of work incidents, so that
the worker's social life has to be marketable. In this way even the
personal expression is invaded by the corporate agenda, resulting in people
"producing" themselves as business consumables, products that add surplus
value to themselves. 
</p>
</div>
</div>

<div id="outline-container-orgf6f5277" class="outline-2">
<h2 id="orgf6f5277">the future?</h2>
<div class="outline-text-2" id="text-orgf6f5277">
<p>
Please send any comments you have on this. What are your ideas? What are
the new resistances we can develop? Are we doomed?
</p>
</div>
</div>
