title: Solving Advent of Code 2020, days 1-4
date: 2020-12-05 02:26
tags: @tech, cl, aoc
---
<p>
<a href="https://adventofcode.com/">Advent of Code</a> is a programming challenge that happens the last five years. It offers a couple of
problems to be solved for every day from the 1st of December till the day of Christmas. I've tried
to complete the series many times, but I always manage to abandon it after 10 or 11 days. Armed with
renewed motivation this year, I plan to finish it this time and report on the solutions I've found
every 4-5 days.
</p>

<p>
Since the day of writing this is the 5th of December (but in a timezone that the 5th problem of
Advent of Code has not yet been published), you will find here some commentary on my solutions for
the first four days.
</p>

<div id="outline-container-org5d6992a" class="outline-2">
<h2 id="org5d6992a">day 1</h2>
<div class="outline-text-2" id="text-org5d6992a">
<p>
The first day was actually asking for the solution of a <a href="https://en.wikipedia.org/wiki/Subset_sum_problem">subset sum problem</a>, or else the
problem of finding pairs or triplets of numbers that add up to a certain value. First we parse our
input as list:
</p>

<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">get-file</span> <span class="org-rainbow-delimiters-depth-2">(</span>filename<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">with-open-file</span> <span class="org-rainbow-delimiters-depth-3">(</span>stream filename<span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">loop</span> for line = <span class="org-rainbow-delimiters-depth-4">(</span>read-line stream nil<span class="org-rainbow-delimiters-depth-4">)</span>
       while line
       collect line<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">expenses</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>mapcar #'parse-integer <span class="org-rainbow-delimiters-depth-3">(</span>get-file <span class="org-string">"input1.txt"</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
Then for the first part we think as follows:
</p>
<ol class="org-ol">
<li>Put every value as a key to a hash table, with a value t</li>
<li>Check recursively if the difference of a list element and the target sum is in the hash table</li>
<li>Collect the values that do confirm the check at two.</li>
</ol>

<p>
These can be expressed somewhat like this:
</p>

<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">two-sum</span> <span class="org-rainbow-delimiters-depth-2">(</span>list sum<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">let</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>hash <span class="org-rainbow-delimiters-depth-5">(</span>make-hash-table<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> x <span class="org-builtin">:in</span> list
          <span class="org-builtin">:do</span> <span class="org-rainbow-delimiters-depth-4">(</span>setf <span class="org-rainbow-delimiters-depth-5">(</span>gethash x hash<span class="org-rainbow-delimiters-depth-5">)</span> t<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
   <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">labels</span> <span class="org-rainbow-delimiters-depth-4">(</span><span class="org-rainbow-delimiters-depth-5">(</span>recur <span class="org-rainbow-delimiters-depth-6">(</span>list acc<span class="org-rainbow-delimiters-depth-6">)</span>
              <span class="org-rainbow-delimiters-depth-6">(</span><span class="org-keyword">if</span> <span class="org-rainbow-delimiters-depth-7">(</span>endp list<span class="org-rainbow-delimiters-depth-7">)</span>
                  acc
                  <span class="org-rainbow-delimiters-depth-7">(</span><span class="org-keyword">let*</span> <span class="org-rainbow-delimiters-depth-8">(</span><span class="org-rainbow-delimiters-depth-9">(</span>current <span class="org-rainbow-delimiters-depth-1">(</span>car list<span class="org-rainbow-delimiters-depth-1">)</span><span class="org-rainbow-delimiters-depth-9">)</span>
                         <span class="org-rainbow-delimiters-depth-9">(</span>target <span class="org-rainbow-delimiters-depth-1">(</span>- sum current<span class="org-rainbow-delimiters-depth-1">)</span><span class="org-rainbow-delimiters-depth-9">)</span><span class="org-rainbow-delimiters-depth-8">)</span>
                    <span class="org-rainbow-delimiters-depth-8">(</span><span class="org-keyword">if</span> <span class="org-rainbow-delimiters-depth-9">(</span>gethash target hash<span class="org-rainbow-delimiters-depth-9">)</span>
                        <span class="org-rainbow-delimiters-depth-9">(</span>recur <span class="org-rainbow-delimiters-depth-1">(</span>cdr list<span class="org-rainbow-delimiters-depth-1">)</span> <span class="org-rainbow-delimiters-depth-1">(</span>cons <span class="org-rainbow-delimiters-depth-2">(</span>list target current<span class="org-rainbow-delimiters-depth-2">)</span> acc<span class="org-rainbow-delimiters-depth-1">)</span><span class="org-rainbow-delimiters-depth-9">)</span>
                        <span class="org-rainbow-delimiters-depth-9">(</span>recur <span class="org-rainbow-delimiters-depth-1">(</span>cdr list<span class="org-rainbow-delimiters-depth-1">)</span> acc<span class="org-rainbow-delimiters-depth-9">)</span><span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
     <span class="org-rainbow-delimiters-depth-4">(</span>recur list '<span class="org-rainbow-delimiters-depth-5">()</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
The second problem can't be as easily expressed recursively, so I employed the <a href="http://www.gigamonkeys.com/book/loop-for-black-belts.html">mighty loop macro</a>.
Here the chain of thinking is that we can add the values into a hash table as before and loop for
every subset of two elements in order to see whether the difference of the target sum and them
exists in the hash table.
</p>

<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">three-sum</span> <span class="org-rainbow-delimiters-depth-2">(</span>list sum<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">let</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>hash <span class="org-rainbow-delimiters-depth-5">(</span>make-hash-table<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> x <span class="org-builtin">:in</span> list
          <span class="org-builtin">:do</span> <span class="org-rainbow-delimiters-depth-4">(</span>setf <span class="org-rainbow-delimiters-depth-5">(</span>gethash x hash<span class="org-rainbow-delimiters-depth-5">)</span> t<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:named</span> main <span class="org-builtin">:for</span> x <span class="org-builtin">:in</span> list <span class="org-builtin">:do</span>
      <span class="org-rainbow-delimiters-depth-4">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> y <span class="org-builtin">:in</span> list <span class="org-builtin">:do</span>
        <span class="org-rainbow-delimiters-depth-5">(</span><span class="org-keyword">if</span> <span class="org-rainbow-delimiters-depth-6">(</span>gethash <span class="org-rainbow-delimiters-depth-7">(</span>- sum x y<span class="org-rainbow-delimiters-depth-7">)</span> hash<span class="org-rainbow-delimiters-depth-6">)</span>
            <span class="org-rainbow-delimiters-depth-6">(</span><span class="org-keyword">return-from</span> main `<span class="org-rainbow-delimiters-depth-7">(</span>,x ,y ,<span class="org-rainbow-delimiters-depth-8">(</span>- sum x y<span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
Since in the problem it was implied that there exists only one such triplet, we omitted to look for
the solutions and just return when we find one. 
</p>

<p>
Then we just have to multiply the pair and triplets and to find the solutions. All in all it was a
pretty easy day, and a good warm-up for my rusty programming skills.
</p>
</div>
</div>

<div id="outline-container-org6bbeaf7" class="outline-2">
<h2 id="org6bbeaf7">day 2</h2>
<div class="outline-text-2" id="text-org6bbeaf7">
<p>
Day presented the problem of parsing lines in the form of "1-3 a: abvcd". We parse the input as
before so not much to say here. 
</p>

<p>
For the first part we had to assume that the first two numbers represent a position, the second a
target that must be included in the previous range and the string at the end a password that needs
to be validated with this rule. Given the above we have to calculate the number of valid passwords
in our input files.
</p>

<p>
To easily parse this input, we can use regex. In Common Lisp one of the most used regex libraries is
<a href="http://edicl.github.io/cl-ppcre/">cl-ppcre</a>, which supports perl like syntax for them. 
</p>

<blockquote>
<p>
Don't try to parse HTML with regex. <a href="https://stackoverflow.com/questions/1732348/regex-match-open-tags-except-xhtml-self-contained-tags">The results are not worth it.</a>
</p>
</blockquote>

<p>
The regex to match our expression can be written as follows:
</p>

<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">scanner</span> <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:create-scanner <span class="org-string">"(\\d+)\\-(\\d+)\\s([a-z]\)\:\\s([a-z]+)"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
In essence we create four groups of interest: the two digits divided by the dash, the character
before the : and the characters at the end. Now we can write our validators, using the
ppcre:register-groups-bind commands, to destrucure the groups.
</p>

<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">validate-password-1</span> <span class="org-rainbow-delimiters-depth-2">(</span>string<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:register-groups-bind <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>#'parse-integer start end<span class="org-rainbow-delimiters-depth-4">)</span>
                               <span class="org-rainbow-delimiters-depth-4">(</span><span class="org-rainbow-delimiters-depth-5">(</span><span class="org-keyword">lambda</span> <span class="org-rainbow-delimiters-depth-6">(</span>x<span class="org-rainbow-delimiters-depth-6">)</span> <span class="org-rainbow-delimiters-depth-6">(</span>coerce x 'character<span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span> target<span class="org-rainbow-delimiters-depth-4">)</span>
                               password<span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>scanner string<span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">let</span> <span class="org-rainbow-delimiters-depth-4">(</span><span class="org-rainbow-delimiters-depth-5">(</span>count <span class="org-rainbow-delimiters-depth-6">(</span>count target password<span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
      <span class="org-rainbow-delimiters-depth-4">(</span>and <span class="org-rainbow-delimiters-depth-5">(</span>&gt;= count start<span class="org-rainbow-delimiters-depth-5">)</span>
           <span class="org-rainbow-delimiters-depth-5">(</span>&lt;= count end<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
To finally count the valid passwords we just use reduce:
</p>
<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span>reduce <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">lambda</span> <span class="org-rainbow-delimiters-depth-3">(</span>acc x<span class="org-rainbow-delimiters-depth-3">)</span>
          <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">if</span> <span class="org-rainbow-delimiters-depth-4">(</span>validate-line-1 x<span class="org-rainbow-delimiters-depth-4">)</span>
              <span class="org-rainbow-delimiters-depth-4">(</span>1+ acc<span class="org-rainbow-delimiters-depth-4">)</span>
              acc<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span>
        password-input <span class="org-builtin">:initial-value</span> 0<span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
Part 2 is quite similar. The only change is that we the now we have to check the first two digits
(the ones we treated as a position range) as positions for the target character and verify that
just one of them has it. So it is just a simple modification of the above validation function and is
left as an exercise for the reader 🤣.
</p>
</div>
</div>

<div id="outline-container-org2bc17b6" class="outline-2">
<h2 id="org2bc17b6">day 3</h2>
<div class="outline-text-2" id="text-org2bc17b6">
<p>
This day we had the problem of checking for collisions by movement on map represented by lines like
"&#x2026;.#&#x2026;#..". Each hash represented a tree, so we need to count how many trees we would crash on by
following a certain pattern of movement. Another issue is that the lines represented a pattern
themselves: they were repeating infinitely to the right.
</p>

<p>
To solve this problem I first counted the length of the lines, which happened to be 31. This way I
could find the correct position by using mod31 arithmetic. Then I defined the following function:
</p>

<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">count-collisions</span> <span class="org-rainbow-delimiters-depth-2">(</span>map right down<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">labels</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>iter <span class="org-rainbow-delimiters-depth-5">(</span>list acc pos<span class="org-rainbow-delimiters-depth-5">)</span>
             <span class="org-rainbow-delimiters-depth-5">(</span><span class="org-keyword">if</span> <span class="org-rainbow-delimiters-depth-6">(</span>endp list<span class="org-rainbow-delimiters-depth-6">)</span>
                 acc
                 <span class="org-rainbow-delimiters-depth-6">(</span><span class="org-keyword">if</span> <span class="org-rainbow-delimiters-depth-7">(</span>char= <span class="org-rainbow-delimiters-depth-8">(</span>aref <span class="org-rainbow-delimiters-depth-9">(</span>car list<span class="org-rainbow-delimiters-depth-9">)</span> pos<span class="org-rainbow-delimiters-depth-8">)</span> #\#<span class="org-rainbow-delimiters-depth-7">)</span>
                     <span class="org-rainbow-delimiters-depth-7">(</span>iter <span class="org-rainbow-delimiters-depth-8">(</span>funcall down list<span class="org-rainbow-delimiters-depth-8">)</span> <span class="org-rainbow-delimiters-depth-8">(</span>1+ acc<span class="org-rainbow-delimiters-depth-8">)</span> <span class="org-rainbow-delimiters-depth-8">(</span>rem <span class="org-rainbow-delimiters-depth-9">(</span>+ pos right<span class="org-rainbow-delimiters-depth-9">)</span> line-length<span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span>
                     <span class="org-rainbow-delimiters-depth-7">(</span>iter <span class="org-rainbow-delimiters-depth-8">(</span>funcall down list<span class="org-rainbow-delimiters-depth-8">)</span> acc <span class="org-rainbow-delimiters-depth-8">(</span>rem <span class="org-rainbow-delimiters-depth-9">(</span>+ pos right<span class="org-rainbow-delimiters-depth-9">)</span> line-length<span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>iter map 0 0<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
It's an recursive function that gets downwards on the list by the speed defined in right and down,
ie how many blocks we travel to the right and downwards in each step. Right needs a number, but
since downwards is in fact how many lines we skip at each recursion step, it's expressed as a
function of the cdr family. With cdr we check each line (1 downwards step), with cddr we check every
other line (2 downwards steps) and so on.
</p>

<p>
To get the solution for the first part I just needed to run (count-collisions my-input 3 #'cdr), and
for the second part I just had to calculate the product of several speeds.
</p>
</div>
</div>

<div id="outline-container-org677283f" class="outline-2">
<h2 id="org677283f">day 4</h2>
<div class="outline-text-2" id="text-org677283f">
<p>
Finally at the most recent fourth day (whoa this post took longer than I thought to write), we had
to validate imaginary passport data. The data where in blocks of key value pairs separated by :. The
problem is that they were not presented in a standard sequence. 
</p>

<p>
This challenge needed different parsing of the file since each block was separated by a blank line
and a block could exist in several lines. To have my data better organized I used this function to
parse the input:
</p>

<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">get-file-per-paragraph</span> <span class="org-rainbow-delimiters-depth-2">(</span>filename<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">with-open-file</span> <span class="org-rainbow-delimiters-depth-3">(</span>stream filename<span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> line = <span class="org-rainbow-delimiters-depth-4">(</span>read-line stream nil<span class="org-rainbow-delimiters-depth-4">)</span>
          <span class="org-builtin">:while</span> line
          <span class="org-builtin">:with</span> temp = <span class="org-string">""</span>
          <span class="org-builtin">:if</span> <span class="org-rainbow-delimiters-depth-4">(</span>string= line <span class="org-string">""</span><span class="org-rainbow-delimiters-depth-4">)</span>
            <span class="org-builtin">:collect</span> temp
            <span class="org-builtin">:and</span> <span class="org-builtin">:do</span> <span class="org-rainbow-delimiters-depth-4">(</span>setf temp <span class="org-string">""</span><span class="org-rainbow-delimiters-depth-4">)</span>
          <span class="org-builtin">:else</span>
            <span class="org-builtin">:do</span> <span class="org-rainbow-delimiters-depth-4">(</span>setf temp <span class="org-rainbow-delimiters-depth-5">(</span>concatenate 'string temp <span class="org-string">" "</span> line<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">passport-tests</span> <span class="org-rainbow-delimiters-depth-2">(</span>get-file-per-paragraph <span class="org-string">"input4.txt"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
The first part of the problem was to check if all the needed key values where present. To check so
we can loop over and search the needed strings. Then we just count the valid ones to get our answer.
</p>

<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">passport-codes</span> '<span class="org-rainbow-delimiters-depth-2">(</span><span class="org-string">"byr:"</span> <span class="org-string">"iyr:"</span> <span class="org-string">"eyr:"</span> <span class="org-string">"hgt:"</span> <span class="org-string">"hcl:"</span> <span class="org-string">"ecl:"</span> <span class="org-string">"pid:"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">passport-validate</span> <span class="org-rainbow-delimiters-depth-2">(</span>passport-data<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>not <span class="org-rainbow-delimiters-depth-3">(</span>member nil
               <span class="org-rainbow-delimiters-depth-4">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> code <span class="org-builtin">:in</span> passport-codes
                     <span class="org-builtin">:collect</span> <span class="org-rainbow-delimiters-depth-5">(</span>search code passport-data<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span>reduce <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">lambda</span> <span class="org-rainbow-delimiters-depth-3">(</span>acc x<span class="org-rainbow-delimiters-depth-3">)</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">if</span> <span class="org-rainbow-delimiters-depth-4">(</span>passport-validate x<span class="org-rainbow-delimiters-depth-4">)</span> <span class="org-rainbow-delimiters-depth-4">(</span>1+ acc<span class="org-rainbow-delimiters-depth-4">)</span> acc<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span>
        passport-tests <span class="org-builtin">:initial-value</span> 0<span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
The second parted wanted us to validate the data according to some rules. To do so I used cl-ppcre
again to create patterns of the correct data. Then I wrote several validator functions, one for each
kind. It was boring to be honest and reminded me of writing business code: not challenging and
repetitive. This left me with the feeling that there might be a better solution to this. If you,
kind reader, know of such a solution, please, inform me through any means of contact. Thanks.
</p>

<p>
The boring but working code is:
</p>
<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">byr-code-scanner</span> <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:create-scanner <span class="org-string">"byr:(\\d{4})(?:\\s|$)"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">validate-byr</span> <span class="org-rainbow-delimiters-depth-2">(</span>input<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:register-groups-bind <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>#'parse-integer value<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
      <span class="org-rainbow-delimiters-depth-3">(</span>byr-code-scanner input<span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>and <span class="org-rainbow-delimiters-depth-4">(</span>&gt;= value 1920<span class="org-rainbow-delimiters-depth-4">)</span>
         <span class="org-rainbow-delimiters-depth-4">(</span>&lt;= value 2002<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">iyr-code-scanner</span> <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:create-scanner <span class="org-string">"iyr:(\\d{4})(?:\\s|$)"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">validate-iyr</span> <span class="org-rainbow-delimiters-depth-2">(</span>input<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:register-groups-bind <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>#'parse-integer value<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
      <span class="org-rainbow-delimiters-depth-3">(</span>iyr-code-scanner input<span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>and <span class="org-rainbow-delimiters-depth-4">(</span>&gt;= value 2010<span class="org-rainbow-delimiters-depth-4">)</span>
         <span class="org-rainbow-delimiters-depth-4">(</span>&lt;= value 2020<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">eyr-code-scanner</span> <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:create-scanner <span class="org-string">"eyr:(\\d{4})(?:\\s|$)"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">validate-eyr</span> <span class="org-rainbow-delimiters-depth-2">(</span>input<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:register-groups-bind <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>#'parse-integer value<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
      <span class="org-rainbow-delimiters-depth-3">(</span>eyr-code-scanner input<span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>and <span class="org-rainbow-delimiters-depth-4">(</span>&gt;= value 2020<span class="org-rainbow-delimiters-depth-4">)</span>
         <span class="org-rainbow-delimiters-depth-4">(</span>&lt;= value 2030<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">hgt-code-scanner</span> <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:create-scanner <span class="org-string">"hgt:(\\d{2,3})(cm|in)(?:\\s|$)"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">validate-hgt</span> <span class="org-rainbow-delimiters-depth-2">(</span>input<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:register-groups-bind <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>#'parse-integer value<span class="org-rainbow-delimiters-depth-4">)</span>
                               type<span class="org-rainbow-delimiters-depth-3">)</span>
      <span class="org-rainbow-delimiters-depth-3">(</span>hgt-code-scanner input<span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">if</span> <span class="org-rainbow-delimiters-depth-4">(</span>string= type <span class="org-string">"cm"</span><span class="org-rainbow-delimiters-depth-4">)</span>
        <span class="org-rainbow-delimiters-depth-4">(</span>and <span class="org-rainbow-delimiters-depth-5">(</span>&gt;= value 150<span class="org-rainbow-delimiters-depth-5">)</span>
             <span class="org-rainbow-delimiters-depth-5">(</span>&lt;= value 193<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
        <span class="org-rainbow-delimiters-depth-4">(</span>and <span class="org-rainbow-delimiters-depth-5">(</span>&gt;= value 59<span class="org-rainbow-delimiters-depth-5">)</span>
             <span class="org-rainbow-delimiters-depth-5">(</span>&lt;= value 76<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">hcl-code-scanner</span> <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:create-scanner <span class="org-string">"hcl:#([0-9a-f]{6})(?:\\s|$)"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">validate-hcl</span> <span class="org-rainbow-delimiters-depth-2">(</span>input<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:scan hcl-code-scanner input<span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">ecl-code-scanner</span> <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:create-scanner <span class="org-string">"ecl:([a-z]{3})(?:\\s|$)"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">eye-color-codes</span> '<span class="org-rainbow-delimiters-depth-2">(</span><span class="org-string">"amb"</span> <span class="org-string">"blu"</span> <span class="org-string">"brn"</span> <span class="org-string">"gry"</span> <span class="org-string">"grn"</span> <span class="org-string">"hzl"</span> <span class="org-string">"oth"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">validate-ecl</span> <span class="org-rainbow-delimiters-depth-2">(</span>input<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:register-groups-bind <span class="org-rainbow-delimiters-depth-3">(</span>color<span class="org-rainbow-delimiters-depth-3">)</span>
      <span class="org-rainbow-delimiters-depth-3">(</span>ecl-code-scanner input<span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>member color eye-color-codes <span class="org-builtin">:test</span> #'string=<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">pid-code-scanner</span> <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:create-scanner <span class="org-string">"pid:(\\d{9})(?:\\s|$)"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">validate-pid</span> <span class="org-rainbow-delimiters-depth-2">(</span>input<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:scan pid-code-scanner input<span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">passport-validate-2</span> <span class="org-rainbow-delimiters-depth-2">(</span>passport<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>and <span class="org-rainbow-delimiters-depth-3">(</span>validate-byr passport<span class="org-rainbow-delimiters-depth-3">)</span>
       <span class="org-rainbow-delimiters-depth-3">(</span>validate-iyr passport<span class="org-rainbow-delimiters-depth-3">)</span>
       <span class="org-rainbow-delimiters-depth-3">(</span>validate-eyr passport<span class="org-rainbow-delimiters-depth-3">)</span>
       <span class="org-rainbow-delimiters-depth-3">(</span>validate-hgt passport<span class="org-rainbow-delimiters-depth-3">)</span>
       <span class="org-rainbow-delimiters-depth-3">(</span>validate-hcl passport<span class="org-rainbow-delimiters-depth-3">)</span>
       <span class="org-rainbow-delimiters-depth-3">(</span>validate-ecl passport<span class="org-rainbow-delimiters-depth-3">)</span>
       <span class="org-rainbow-delimiters-depth-3">(</span>validate-pid passport<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span>reduce <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">lambda</span> <span class="org-rainbow-delimiters-depth-3">(</span>acc x<span class="org-rainbow-delimiters-depth-3">)</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">if</span> <span class="org-rainbow-delimiters-depth-4">(</span>passport-validate-2 x<span class="org-rainbow-delimiters-depth-4">)</span> <span class="org-rainbow-delimiters-depth-4">(</span>1+ acc<span class="org-rainbow-delimiters-depth-4">)</span> acc<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span> passport-tests <span class="org-builtin">:initial-value</span> 0<span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
One thought I had was that, since the validator functions shared a similar pattern, it could be nice
to have a generator function for them. The means to abstract them so eluded me, and since this is a
challenge that was solved I didn't push too much. I will return though (I hope).
</p>
</div>
</div>

<div id="outline-container-org7154311" class="outline-2">
<h2 id="org7154311">epilogue</h2>
<div class="outline-text-2" id="text-org7154311">
<p>
So this is my experience so far. Dusting out my Common Lisp skills is a reason I use to work on
these challenges and don't work on my other projects (professional or not). At least it may help to
motivate me to work on the backend of discordia-chan. At the very least it's fun. And as a final
word, that's all that matters.
</p>

<p>
Have fun everyone!
</p>
</div>
</div>
