title: Solving Advent of Code 2020, days 5-16
date: 2020-12-17 00:09
tags: @tech, cl, aoc
---
<p>
It's the 16th of December here, so let's do one small recap of my experiences from the last eleven
days of <a href="https://adventofcode.com">Advent of Code</a>. Since there are a lot of challenges here, I'll just do some commentary and
not really present all solutions. I'll provide a repository later where you'll be able to find all
of my solutions.
</p>

<div id="outline-container-org62fa3e1" class="outline-2">
<h2 id="org62fa3e1">day 5</h2>
<div class="outline-text-2" id="text-org62fa3e1">
<p>
Day 5 was asking to decode a binary format that was used to represent boarding pass codes for seats
in a fictional plane. There were quite a lot of clues that this was the case, so it was quite simple
to write down a solution that parsed the codes given into binary numbers. Then for part two the task
was to find a missing step in the numbering.
</p>

<p>
All in all it was a quite easy challenge for day 5.
</p>
</div>
</div>

<div id="outline-container-org2579459" class="outline-2">
<h2 id="org2579459">day 6</h2>
<div class="outline-text-2" id="text-org2579459">
<p>
In day 6 the task was to count unique items in a group for the first part and then count common
elements in slightly different groups. As the description shows it was quite easy as well and took
little time to implement. 
</p>
</div>
</div>

<div id="outline-container-orge1b0c64" class="outline-2">
<h2 id="orge1b0c64">day 7</h2>
<div class="outline-text-2" id="text-orge1b0c64">
<p>
Day 7 was the first challenging day for me, and it really helped me to remember some graph concepts
that I had forgotten. The first problem is asking to do calculate the nodes in a connected component
of a graph the represents how bags are to be inserted in each other. A recursive solution with
associative lists worked fine for the first part.
</p>

<p>
In part 2 the question was how many bags are to be contained in ours, given rules for what the bag
shall contain. A DFS for the directed graph was then implemented in order to discover all the nodes
and count them. This was quite an interesting day.
</p>
</div>
</div>

<div id="outline-container-org92dcc2b" class="outline-2">
<h2 id="org92dcc2b">day 8</h2>
<div class="outline-text-2" id="text-org92dcc2b">
<p>
At the eight day the challenge was around parsing and executing a pseudo language with jumps and an
accumulator. For the first part there was an infinite loop to be discovered, which I did by keeping
the history of executed commands. If one was called twice the program was surely lead to run
forever.
</p>

<p>
For part 2 we had the information that two kinds of instructions were flipped, and that was the
issue that produced the infinite loop. So I checked the pairs that could be swapped and if the
resulting instructions would create a finishing program. 
</p>

<p>
In all this day was not that difficult, but needed some tricks.
</p>
</div>
</div>

<div id="outline-container-org9d938fd" class="outline-2">
<h2 id="org9d938fd">day 9</h2>
<div class="outline-text-2" id="text-org9d938fd">
<p>
The challenge here was to find a number in a sequence that was the sum of two numbers in another
group. Since we had the two sum algorithm from day 1, it was easy to modify it so to check if some
number is or not a two sum in a given group. Then we had to find a range in the same group that had
the sum of the number found in part one. This was solved by starting with each element of the group
and calculating the sum of the sub-groups starting with it till the wanted sum was found or the sum
exceeded it. 
</p>
</div>
</div>

<div id="outline-container-org9f4a510" class="outline-2">
<h2 id="org9f4a510">day 10</h2>
<div class="outline-text-2" id="text-org9f4a510">
<p>
Here the first part was quite easy, in calculating the number of differences that where three or
ones in a sequence of numbers. The second part though wanted to calculate all the permutations that
would work with the rule that a number had to be followed by one that was from 1 to 3 units
bigger. This required a dynamic programming solution backtracking in the numbers and counting the
possible arrangements for each element. 
</p>
</div>
</div>

<div id="outline-container-orgedb4216" class="outline-2">
<h2 id="orgedb4216">day 11</h2>
<div class="outline-text-2" id="text-orgedb4216">
<p>
Day 11 was a problem similar to <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of Life</a>. The implementation I did was not the most
performant, since it kept the whole board of positions in memory but it worked well enough in the
end. Part 2 needed just a modification of what was considered neighboring between the positions and
was interesting to implement.
</p>
</div>
</div>

<div id="outline-container-org0934be1" class="outline-2">
<h2 id="org0934be1">day 12</h2>
<div class="outline-text-2" id="text-org0934be1">
<p>
Moving a ship given some coordinates and then adding a waypoint to the whole ordeal. Quite
nice challenge and reminded me of some of the graphics manipulation like rotating points around
others etc. I used Lisp's structs to express the ship and waypoint which to lead to simple but
rather verbose code.
</p>
</div>
</div>

<div id="outline-container-orgf682189" class="outline-2">
<h2 id="orgf682189">day 13</h2>
<div class="outline-text-2" id="text-orgf682189">
<p>
This day's challenge was mostly around number theory and the part 2 even required the implementation
of the <a href="https://en.wikipedia.org/wiki/Chinese_remainder_theorem">Chinese Remainder Theorem</a> to solve. I was happy to do so and have it reminded, after so many
years that I last used it.
</p>
</div>
</div>

<div id="outline-container-org86c337f" class="outline-2">
<h2 id="org86c337f">day 14</h2>
<div class="outline-text-2" id="text-org86c337f">
<p>
More low level stuff in day 14, as the problem was around masking and memory positions. The bit
level functions of Lisp proved really helpful, especially the <a href="http://www.lispworks.com/documentation/HyperSpec/Body/f_boole.htm">boole function</a>. Part two was also
quite interesting as it introduced a floating bit, i.e. a bit that can take all possible values. 
</p>
</div>
</div>

<div id="outline-container-orgc2499ac" class="outline-2">
<h2 id="orgc2499ac">day 15</h2>
<div class="outline-text-2" id="text-orgc2499ac">
<p>
The elf game of day 15 was not really a challenge, and my implementation with a hash list happily
responded even for the second part that demanded 30 million iterations. Given that the whole
solution was:
</p>

<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defparameter</span> <span class="org-variable-name">input</span> '<span class="org-rainbow-delimiters-depth-2">(</span><span class="org-rainbow-delimiters-depth-3">(</span>20 . 1<span class="org-rainbow-delimiters-depth-3">)</span> <span class="org-rainbow-delimiters-depth-3">(</span>0 . 2<span class="org-rainbow-delimiters-depth-3">)</span> <span class="org-rainbow-delimiters-depth-3">(</span>1 . 3<span class="org-rainbow-delimiters-depth-3">)</span> <span class="org-rainbow-delimiters-depth-3">(</span>11 . 4<span class="org-rainbow-delimiters-depth-3">)</span> <span class="org-rainbow-delimiters-depth-3">(</span>6 . 5<span class="org-rainbow-delimiters-depth-3">)</span> <span class="org-rainbow-delimiters-depth-3">(</span>3 . 6<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defparameter</span> <span class="org-variable-name">starting-input</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> i <span class="org-builtin">:in</span> input
        <span class="org-builtin">:with</span> a <span class="org-builtin">:=</span> <span class="org-rainbow-delimiters-depth-3">(</span>make-hash-table<span class="org-rainbow-delimiters-depth-3">)</span>
        <span class="org-builtin">:do</span> <span class="org-rainbow-delimiters-depth-3">(</span>setf <span class="org-rainbow-delimiters-depth-4">(</span>gethash <span class="org-rainbow-delimiters-depth-5">(</span>car i<span class="org-rainbow-delimiters-depth-5">)</span> a<span class="org-rainbow-delimiters-depth-4">)</span> <span class="org-rainbow-delimiters-depth-4">(</span>cdr i<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
        <span class="org-builtin">:finally</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">return</span> a<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">calculate-next-number-v2</span> <span class="org-rainbow-delimiters-depth-2">(</span>prev alist turn<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">let</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>cell <span class="org-rainbow-delimiters-depth-5">(</span>gethash prev alist<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
   <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">if</span> cell 
       <span class="org-rainbow-delimiters-depth-4">(</span>- turn cell<span class="org-rainbow-delimiters-depth-4">)</span>
       0<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">elf-game-v2</span> <span class="org-rainbow-delimiters-depth-2">(</span>turn starting-alist<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">labels</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>iter <span class="org-rainbow-delimiters-depth-5">(</span>acc prev past-alist<span class="org-rainbow-delimiters-depth-5">)</span>
             <span class="org-rainbow-delimiters-depth-5">(</span><span class="org-keyword">if</span> <span class="org-rainbow-delimiters-depth-6">(</span>= turn <span class="org-rainbow-delimiters-depth-7">(</span>1+ acc<span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span>
                 <span class="org-rainbow-delimiters-depth-6">(</span>calculate-next-number-v2 prev past-alist acc<span class="org-rainbow-delimiters-depth-6">)</span>
                 <span class="org-rainbow-delimiters-depth-6">(</span>iter <span class="org-rainbow-delimiters-depth-7">(</span>1+ acc<span class="org-rainbow-delimiters-depth-7">)</span> <span class="org-rainbow-delimiters-depth-7">(</span>calculate-next-number prev past-alist acc<span class="org-rainbow-delimiters-depth-7">)</span>
                       <span class="org-rainbow-delimiters-depth-7">(</span><span class="org-keyword">progn</span> <span class="org-rainbow-delimiters-depth-8">(</span>setf <span class="org-rainbow-delimiters-depth-9">(</span>gethash prev past-alist<span class="org-rainbow-delimiters-depth-9">)</span> acc<span class="org-rainbow-delimiters-depth-8">)</span>
                              past-alist<span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">let</span> <span class="org-rainbow-delimiters-depth-4">(</span><span class="org-rainbow-delimiters-depth-5">(</span>starting-turn <span class="org-rainbow-delimiters-depth-6">(</span>hash-table-count starting-alist<span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
      <span class="org-rainbow-delimiters-depth-4">(</span>remhash 3 starting-alist<span class="org-rainbow-delimiters-depth-4">)</span>
      <span class="org-rainbow-delimiters-depth-4">(</span>iter starting-turn 3 starting-alist<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
it was probably the day for which I wrote the least code.
</p>
</div>
</div>

<div id="outline-container-orgc133332" class="outline-2">
<h2 id="orgc133332">day 16</h2>
<div class="outline-text-2" id="text-orgc133332">
<p>
Day 16 challenged me more than it should. The first part was quite trivial, but for the second part
we needed to map some number positions to rules, given the data-set we were given. I was anxious that
I would need backtracking but in the end part 2 was simpler than I anticipated. I think I did take
some questionable choices to be honest:
</p>

<div class="org-src-container">
<pre class="src src-lisp"><span class="org-rainbow-delimiters-depth-1">(</span>ql:quickload <span class="org-builtin">:cl-ppcre</span><span class="org-rainbow-delimiters-depth-1">)</span>
<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">get-file</span> <span class="org-rainbow-delimiters-depth-2">(</span>filename<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">with-open-file</span> <span class="org-rainbow-delimiters-depth-3">(</span>stream filename<span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> line <span class="org-builtin">:=</span> <span class="org-rainbow-delimiters-depth-4">(</span>read-line stream nil<span class="org-rainbow-delimiters-depth-4">)</span>
          <span class="org-builtin">:while</span> line
          <span class="org-builtin">:collect</span> line<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defparameter</span> <span class="org-variable-name">file</span> <span class="org-rainbow-delimiters-depth-2">(</span>get-file <span class="org-string">"input16.txt"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defparameter</span> <span class="org-variable-name">test</span> <span class="org-rainbow-delimiters-depth-2">(</span>get-file <span class="org-string">"test16.txt"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defparameter</span> <span class="org-variable-name">rule-scanner</span> <span class="org-rainbow-delimiters-depth-2">(</span>ppcre:create-scanner <span class="org-string">"(?:.+: )(\\d+)(?:-)(\\d+)(?: or )(\\d+)(?:-)(\\d+)"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defparameter</span> <span class="org-variable-name">rules</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> line <span class="org-builtin">:in</span> file
        <span class="org-builtin">:when</span> <span class="org-rainbow-delimiters-depth-3">(</span>ppcre:scan rule-scanner line<span class="org-rainbow-delimiters-depth-3">)</span>
          <span class="org-builtin">:collect</span> <span class="org-rainbow-delimiters-depth-3">(</span>ppcre:register-groups-bind <span class="org-rainbow-delimiters-depth-4">(</span><span class="org-rainbow-delimiters-depth-5">(</span>#'parse-integer min1<span class="org-rainbow-delimiters-depth-5">)</span>
                                               <span class="org-rainbow-delimiters-depth-5">(</span>#'parse-integer max1<span class="org-rainbow-delimiters-depth-5">)</span>
                                               <span class="org-rainbow-delimiters-depth-5">(</span>#'parse-integer min2<span class="org-rainbow-delimiters-depth-5">)</span>
                                               <span class="org-rainbow-delimiters-depth-5">(</span>#'parse-integer max2<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
                       <span class="org-rainbow-delimiters-depth-4">(</span>rule-scanner line<span class="org-rainbow-delimiters-depth-4">)</span>
                     <span class="org-rainbow-delimiters-depth-4">(</span>list <span class="org-rainbow-delimiters-depth-5">(</span>cons min1 max1<span class="org-rainbow-delimiters-depth-5">)</span>
                           <span class="org-rainbow-delimiters-depth-5">(</span>cons min2 max2<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defparameter</span> <span class="org-variable-name">rules-functions</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>mapcar <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">lambda</span> <span class="org-rainbow-delimiters-depth-4">(</span>x<span class="org-rainbow-delimiters-depth-4">)</span>
            <span class="org-rainbow-delimiters-depth-4">(</span><span class="org-keyword">lambda</span> <span class="org-rainbow-delimiters-depth-5">(</span>y<span class="org-rainbow-delimiters-depth-5">)</span>
              <span class="org-rainbow-delimiters-depth-5">(</span>or <span class="org-rainbow-delimiters-depth-6">(</span>and <span class="org-rainbow-delimiters-depth-7">(</span>&gt;= y <span class="org-rainbow-delimiters-depth-8">(</span>car <span class="org-rainbow-delimiters-depth-9">(</span>first x<span class="org-rainbow-delimiters-depth-9">)</span><span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span>
                       <span class="org-rainbow-delimiters-depth-7">(</span>&lt;= y <span class="org-rainbow-delimiters-depth-8">(</span>cdr <span class="org-rainbow-delimiters-depth-9">(</span>first x<span class="org-rainbow-delimiters-depth-9">)</span><span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span>
                  <span class="org-rainbow-delimiters-depth-6">(</span>and <span class="org-rainbow-delimiters-depth-7">(</span>&gt;= y <span class="org-rainbow-delimiters-depth-8">(</span>car <span class="org-rainbow-delimiters-depth-9">(</span>second x<span class="org-rainbow-delimiters-depth-9">)</span><span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span>
                       <span class="org-rainbow-delimiters-depth-7">(</span>&lt;= y <span class="org-rainbow-delimiters-depth-8">(</span>cdr <span class="org-rainbow-delimiters-depth-9">(</span>second x<span class="org-rainbow-delimiters-depth-9">)</span><span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
          rules<span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defparameter</span> <span class="org-variable-name">nearby-tickets</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> line <span class="org-builtin">:in</span> file
        <span class="org-builtin">:with</span> start <span class="org-builtin">:=</span> nil
        <span class="org-builtin">:when</span> start
          <span class="org-builtin">:collect</span> <span class="org-rainbow-delimiters-depth-3">(</span>mapcar #'parse-integer <span class="org-rainbow-delimiters-depth-4">(</span>ppcre:split <span class="org-string">","</span> line<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
        <span class="org-builtin">:when</span> <span class="org-rainbow-delimiters-depth-3">(</span>string= line <span class="org-string">"nearby tickets:"</span><span class="org-rainbow-delimiters-depth-3">)</span>
          <span class="org-builtin">:do</span> <span class="org-rainbow-delimiters-depth-3">(</span>setf start t<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>


<span class="org-comment-delimiter">;;; </span><span class="org-comment">part 1</span>
<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">apply-rules</span> <span class="org-rainbow-delimiters-depth-2">(</span>rules ticket<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">labels</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>iter <span class="org-rainbow-delimiters-depth-5">(</span>numbers acc<span class="org-rainbow-delimiters-depth-5">)</span>
             <span class="org-rainbow-delimiters-depth-5">(</span><span class="org-keyword">if</span> <span class="org-rainbow-delimiters-depth-6">(</span>endp numbers<span class="org-rainbow-delimiters-depth-6">)</span>
                 acc
                 <span class="org-rainbow-delimiters-depth-6">(</span>iter <span class="org-rainbow-delimiters-depth-7">(</span>cdr numbers<span class="org-rainbow-delimiters-depth-7">)</span> <span class="org-rainbow-delimiters-depth-7">(</span><span class="org-keyword">if</span> <span class="org-rainbow-delimiters-depth-8">(</span>not <span class="org-rainbow-delimiters-depth-9">(</span>some <span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">lambda</span> <span class="org-rainbow-delimiters-depth-2">(</span>x<span class="org-rainbow-delimiters-depth-2">)</span> <span class="org-rainbow-delimiters-depth-2">(</span>funcall x <span class="org-rainbow-delimiters-depth-3">(</span>car numbers<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span> rules<span class="org-rainbow-delimiters-depth-9">)</span><span class="org-rainbow-delimiters-depth-8">)</span>
                                         <span class="org-rainbow-delimiters-depth-8">(</span>cons <span class="org-rainbow-delimiters-depth-9">(</span>car numbers<span class="org-rainbow-delimiters-depth-9">)</span> acc<span class="org-rainbow-delimiters-depth-8">)</span>
                                         acc<span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>iter ticket '<span class="org-rainbow-delimiters-depth-4">()</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">calculate-error-rate</span> <span class="org-rainbow-delimiters-depth-2">(</span>rules tickets<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">labels</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>iter <span class="org-rainbow-delimiters-depth-5">(</span>tickets acc<span class="org-rainbow-delimiters-depth-5">)</span>
             <span class="org-rainbow-delimiters-depth-5">(</span><span class="org-keyword">if</span> <span class="org-rainbow-delimiters-depth-6">(</span>endp tickets<span class="org-rainbow-delimiters-depth-6">)</span>
                 acc
                 <span class="org-rainbow-delimiters-depth-6">(</span>iter <span class="org-rainbow-delimiters-depth-7">(</span>cdr tickets<span class="org-rainbow-delimiters-depth-7">)</span> <span class="org-rainbow-delimiters-depth-7">(</span>append <span class="org-rainbow-delimiters-depth-8">(</span>apply-rules rules <span class="org-rainbow-delimiters-depth-9">(</span>car tickets<span class="org-rainbow-delimiters-depth-9">)</span><span class="org-rainbow-delimiters-depth-8">)</span> acc<span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>reduce #'+ <span class="org-rainbow-delimiters-depth-4">(</span>iter tickets '<span class="org-rainbow-delimiters-depth-5">()</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-comment-delimiter">;;; </span><span class="org-comment">part 2</span>
<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defparameter</span> <span class="org-variable-name">cleaned-nearby-tickets</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> ticket <span class="org-builtin">:in</span> nearby-tickets
        <span class="org-builtin">:unless</span> <span class="org-rainbow-delimiters-depth-3">(</span>apply-rules rules-functions ticket<span class="org-rainbow-delimiters-depth-3">)</span>
          <span class="org-builtin">:collect</span> ticket<span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>


<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">apply-rules-v2</span> <span class="org-rainbow-delimiters-depth-2">(</span>rules ticket<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> rule <span class="org-builtin">:in</span> rules
        <span class="org-builtin">:for</span> rule-position <span class="org-builtin">:from</span> 1
        <span class="org-builtin">:with</span> result = '<span class="org-rainbow-delimiters-depth-3">()</span>
        <span class="org-builtin">:do</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> number <span class="org-builtin">:in</span> ticket
                  <span class="org-builtin">:for</span> number-position <span class="org-builtin">:from</span> 1
                  <span class="org-builtin">:unless</span> <span class="org-rainbow-delimiters-depth-4">(</span>funcall rule number<span class="org-rainbow-delimiters-depth-4">)</span>
                    <span class="org-builtin">:do</span> <span class="org-rainbow-delimiters-depth-4">(</span>setf result <span class="org-rainbow-delimiters-depth-5">(</span>cons `<span class="org-rainbow-delimiters-depth-6">(</span>,rule-position . ,number-position<span class="org-rainbow-delimiters-depth-6">)</span> result<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
        <span class="org-builtin">:finally</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">return</span> result<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">viable-positions</span> <span class="org-rainbow-delimiters-depth-2">(</span>rules tickets<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">let</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>exclusions <span class="org-rainbow-delimiters-depth-5">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> i <span class="org-builtin">:from</span> 1 <span class="org-builtin">:upto</span> <span class="org-rainbow-delimiters-depth-6">(</span>length rules<span class="org-rainbow-delimiters-depth-6">)</span>
                          <span class="org-builtin">:collect</span> <span class="org-rainbow-delimiters-depth-6">(</span>mapcar
                                    #'cdar
                                    <span class="org-rainbow-delimiters-depth-7">(</span>delete-if-not <span class="org-rainbow-delimiters-depth-8">(</span><span class="org-keyword">lambda</span> <span class="org-rainbow-delimiters-depth-9">(</span>x<span class="org-rainbow-delimiters-depth-9">)</span> <span class="org-rainbow-delimiters-depth-9">(</span>= <span class="org-rainbow-delimiters-depth-1">(</span>caar x<span class="org-rainbow-delimiters-depth-1">)</span> i<span class="org-rainbow-delimiters-depth-9">)</span><span class="org-rainbow-delimiters-depth-8">)</span>
                                                   <span class="org-rainbow-delimiters-depth-8">(</span>mapcar <span class="org-rainbow-delimiters-depth-9">(</span><span class="org-keyword">lambda</span> <span class="org-rainbow-delimiters-depth-1">(</span>x<span class="org-rainbow-delimiters-depth-1">)</span> <span class="org-rainbow-delimiters-depth-1">(</span>apply-rules-v2 rules x<span class="org-rainbow-delimiters-depth-1">)</span><span class="org-rainbow-delimiters-depth-9">)</span>
                                                           tickets<span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> exl <span class="org-builtin">:in</span> exclusions
          <span class="org-builtin">:with</span> result <span class="org-builtin">:=</span> '<span class="org-rainbow-delimiters-depth-4">()</span>
          <span class="org-builtin">:with</span> availabe-positions <span class="org-builtin">:=</span> <span class="org-rainbow-delimiters-depth-4">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> i <span class="org-builtin">:from</span> 1 <span class="org-builtin">:to</span> <span class="org-rainbow-delimiters-depth-5">(</span>length rules<span class="org-rainbow-delimiters-depth-5">)</span>
                                            collect i<span class="org-rainbow-delimiters-depth-4">)</span>
          <span class="org-builtin">:collect</span> <span class="org-rainbow-delimiters-depth-4">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> i <span class="org-builtin">:in</span> availabe-positions
                        <span class="org-builtin">:when</span> <span class="org-rainbow-delimiters-depth-5">(</span>not <span class="org-rainbow-delimiters-depth-6">(</span>member i exl<span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span>
                          <span class="org-builtin">:collect</span> i<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">map-positions-to-rules</span> <span class="org-rainbow-delimiters-depth-2">(</span>rules tickets<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">loop</span>
    <span class="org-builtin">:with</span> viable-positions <span class="org-builtin">:=</span>  <span class="org-rainbow-delimiters-depth-3">(</span>viable-positions rules tickets<span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-builtin">:with</span> result-array <span class="org-builtin">:=</span> <span class="org-rainbow-delimiters-depth-3">(</span>make-array <span class="org-rainbow-delimiters-depth-4">(</span>length rules<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-builtin">:do</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> pos <span class="org-builtin">:in</span> viable-positions
              <span class="org-builtin">:for</span> i <span class="org-builtin">:from</span> 0
              <span class="org-builtin">:if</span> <span class="org-rainbow-delimiters-depth-4">(</span>= <span class="org-rainbow-delimiters-depth-5">(</span>length pos<span class="org-rainbow-delimiters-depth-5">)</span> 1<span class="org-rainbow-delimiters-depth-4">)</span>
                <span class="org-builtin">:do</span> <span class="org-rainbow-delimiters-depth-4">(</span><span class="org-keyword">let</span> <span class="org-rainbow-delimiters-depth-5">(</span><span class="org-rainbow-delimiters-depth-6">(</span>target <span class="org-rainbow-delimiters-depth-7">(</span>car pos<span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span>
                      <span class="org-rainbow-delimiters-depth-5">(</span>setf <span class="org-rainbow-delimiters-depth-6">(</span>aref result-array i<span class="org-rainbow-delimiters-depth-6">)</span> target<span class="org-rainbow-delimiters-depth-5">)</span>
                      <span class="org-rainbow-delimiters-depth-5">(</span>setf viable-positions <span class="org-rainbow-delimiters-depth-6">(</span>mapcar <span class="org-rainbow-delimiters-depth-7">(</span><span class="org-keyword">lambda</span> <span class="org-rainbow-delimiters-depth-8">(</span>x<span class="org-rainbow-delimiters-depth-8">)</span> <span class="org-rainbow-delimiters-depth-8">(</span>remove target x<span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span>
                                                     viable-positions<span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-builtin">:when</span> <span class="org-rainbow-delimiters-depth-3">(</span>not <span class="org-rainbow-delimiters-depth-4">(</span>find 0 result-array<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
      <span class="org-builtin">:return</span> result-array<span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defparameter</span> <span class="org-variable-name">my-ticket</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>mapcar #'parse-integer
          <span class="org-rainbow-delimiters-depth-3">(</span>ppcre:split <span class="org-string">","</span> <span class="org-string">"97,101,149,103,137,61,59,223,263,179,131,113,241,127,53,109,89,173,107,211"</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">calculate-part2</span> <span class="org-rainbow-delimiters-depth-2">(</span>rules tickets my-ticket<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">let</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>rules-array <span class="org-rainbow-delimiters-depth-5">(</span>map-positions-to-rules rules tickets<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">loop</span> <span class="org-builtin">:for</span> i <span class="org-builtin">:from</span> 0 <span class="org-builtin">:upto</span> 5
          <span class="org-builtin">:with</span> product <span class="org-builtin">:=</span> 1
          <span class="org-builtin">:do</span> <span class="org-rainbow-delimiters-depth-4">(</span>setf product <span class="org-rainbow-delimiters-depth-5">(</span>* product <span class="org-rainbow-delimiters-depth-6">(</span>nth <span class="org-rainbow-delimiters-depth-7">(</span>1- <span class="org-rainbow-delimiters-depth-8">(</span>aref rules-array i<span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span> my-ticket<span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
          <span class="org-builtin">:finally</span> <span class="org-rainbow-delimiters-depth-4">(</span><span class="org-keyword">return</span> product<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>
</div>
</div>

<div id="outline-container-org657fa25" class="outline-2">
<h2 id="org657fa25">epilogue</h2>
<div class="outline-text-2" id="text-org657fa25">
<p>
Not all solutions are created equal, but at least this year I feel I will stay up and running with
the challenges and will complete them on time. Still 9 days to go.
</p>
</div>
</div>
