title: The social dilemma - thoughts, howls and fireworks
date: 2020-09-16 07:24
tags: @social, privacy, review
---
<p>
A friend came around and brought me this documentary today, since he knows
I'm interested in the whole digital society / surveillance capitalism
issue.  For the uninitiated, the documentary explores and presents the
ways in which social media and other recent technological 'products' and
'services' affect our reality.  Generally it was quite informative and I
would recommend it for people that want a idea of why it is an issue, and
how things work in a broad sense.
</p>

<p>
I'm jacking up on this blog though to share some thoughts on the
situation. There's a whole lot of ways that the mass psychological
operation that we are involved in can be seen and I feel the historical
context is severely lacking in the documentary. So let me buckle up as I
try to dig into my brain and attempt to organize my thoughts in a
(semi-)presentable way.
</p>

<div id="outline-container-orgae579aa" class="outline-2">
<h2 id="orgae579aa">Anatomy of a hungry teenager</h2>
<div class="outline-text-2" id="text-orgae579aa">
<p>
Starting with the negatives - and hoping to creatively transform them until
the end of this article - the main grind-work of the machine is the
addiction of its users. The constant gratification of the upcoming
notification, post, whatever is not a happenstance. It's a process that is
one of the main tools of social media, trusted upon algorithms that toy
upon us to maximize 'engagement' and so making us giving them more.
</p>

<p>
The process creates valuable data on the parts of our self we don't ever
realize. This is then used by advertisers to shift our behaviors into
needing more and consuming more. It's a good business model if you ask
me. Why try to create good products when you can just fix people to want
the ones you want to sell?
</p>

<p>
This model was the answer of how social media and other web companies would
monetize their users. Since selling digital creations failed, this new kind
of extracting value emerged. But when the door opened they looked inside
and decided that it was good - for their pockets.
</p>

<p>
So trying to get more users and hook them up in the dopamine hit of
connecting with others and being recognized or liked or even just accepted,
opened the sector of a whole industry of human exploitation. The one where
growth comes through brainwashing and values that are forced into the back
alleys of our brains.
</p>

<p>
What happens if you indulge yourself in the thrill of being liked? What
happens when it's normal to feed your self-image through thousands other
people? Well it's easy to guess. We left behind the self in exchange for
acceptance, but then they didn't want us to feel accepted. Since if we
have most of what we need we don't buy things. No number of retweets is
enough, no number of followers is ever satisfying. And in the meantime we
develop ourselves in the image of the advertiser. We want more and more, to
prove that the world shall turn its eyes on us. And we contemplate the
world to see when this happens.
</p>

<p>
It's not shocking that teenagers, in their ever stressful research of the
ego, have it the hardest. Growing up in constant criticism of the
appearance, of the mannerisms, of whatever is the latest fad is a heavy
burden. Heavy enough that self-harm and suicide has skyrocketed in
teenagers. <sup><a id="fnr.1" class="footref" href="#fn.1">1</a></sup> This growing depression on vain reasons is not restricted
to teenagers though. Everyone wants to be accepted. The one who controls
how you should be to be accepted, is the one that controls your actions.
</p>

<p>
This naturally leads to the next level of the rabbit hole. If you have
managed, through the analysis of massive amounts of personal data, to have
a degree of control on people's actions, why use these powers just for
advertisements? Anyone capable of this and sociopath enough would use it for
jamming everyday life.
</p>

<p>
And the jam is on! Oh, and it's good. It's the best kind of propaganda, the
one we were waiting for. If I'm a conspiracy theorist I get pizzagate and
Qanon, if I'm a liberal I get force-fed cancel culture and identity
politics. The best kind of propaganda, is the one that feeds on what I am
and pushes me a step further. The one where my actions seem the natural
development of what I am. How am I then going to believe that I was ever
brainwashed?
</p>

<p>
See what happened in Myanmar <sup><a id="fnr.2" class="footref" href="#fn.2">2</a></sup>, in elections in countries big and
small alike, what happens now in the streets of USA, what happens with
coronavirus, what happens in general in our socio-political
environment. The digital bubbles have trapped the consciences inside of
them, building echo chambers that nullify our thought processes and feed
the animalistic part of our brains in benefit of the few.
</p>

<p>
Most of the previous are raised adequately in the documentary. An important
missing point for me is the effect of pornography on our erotic
lives. Pornography, as well as the whole pack of dating apps have intruded
into the deepest parts of our connections with others, they have
marginalized and quantified them.  I won't really expand on this, as I'm
working on an article that goes deeper into the issue, but I think it's a
notable omission.
</p>
</div>
</div>

<div id="outline-container-org74ef220" class="outline-2">
<h2 id="org74ef220">Behind the looking glass</h2>
<div class="outline-text-2" id="text-org74ef220">
<p>
So that's the situation, and here ends my agreement with the views in The
social dilemma. In general I agree with the problems that are presented,
but I'm not really convinced of the solutions proposed.
</p>

<p>
The main consensus in the documentary seemed to be that the explosion of
social media was something that was created on good will but had unexpected
consequences. I don't buy that to be honest. If the creation of such media
was accidental, was it also accidental that we were so ready to lose
ourselves in them? 
</p>

<p>
Let's take things from the start of the industrial revolution. It was a
point in history where for the first time work was interconnected in such a
high level, that a mass of people started to be completely dependent on a
system of value for survival. This point of course didn't happen overnight,
it was developing since the ancient times of our culture. This organic
dependence layed the groundwork for the need of control on human behavior.
</p>

<p>
To be a good worker in the factory you needed to follow orders, to keep a
schedule. The creation of huge cities resulted in people having less of an
effect on their environment. A voice in millions is no voice at all. Being
crammed in public transportation or stuck in traffic has the same impact on
our psyches as when our latest post is not well received. The creative force
that is demanded by survival was now the domain of select few architects.
</p>

<p>
Thus started the biggest experiment of mankind, the conditioning of people
as a hive, driven by the greed of the few that had the power to make
choices. Schools, universities, institutes, banks, laws that demand to live
a very certain lifestyle. Why shall the government demand that I protect
myself? But it's obvious, that if I'm treated like a pawn, I'm protected
like a pawn. I'm not allowed to take drugs - at least the ones not accepted
by the system -, to drive without a seat-belt and so on.
</p>

<p>
So when the demand of workers was outsourced to 'developing' world
countries, and the people in west started to have time to play, the system
was searching for the new concept that like work would keep the masses
pacified. Who has the energy to live when working 12 hours a day?
</p>

<p>
It was at this point that consumerism thrived. If you always need more of
what the system offers, you need to support it with all your livelihood. So
advertising and 'growth' and engagement became the gospels of the recent
world. Value was now the endless shitty products that one would amass, the
constant wetting of one's appetite for more and more.
</p>

<p>
That was how we were ready. At least some of us. It is strange but I
sometimes feel that in a weird Nietzsche twist the world became totally
nihilistic, but with two different expressions. The first expression of
modern-day nihilism is the happy participant in the system, the over-eager
pawns that offer themselves as sacrifices in the ritual. Accepting that
making money for your employee is the highest value in life, they reject
their lives, working long hours to create stuff that are returning to damn
them. In this category we can find the people that created social media and
such services. Success even at the absence of self. Hyper-caffeinated
freaks that took the race far too seriously. These are the people that when
their freaky schemes of surveillance get bothered will tell you that it
will hurt the businesses, especially the small ones, as if they are
entitled to disect our lives for their profit. Or as if profit is a higher
value than life itself. Adam Mosseri of instagram is certainly in this
group.<sup><a id="fnr.3" class="footref" href="#fn.3">3</a></sup>
</p>

<p>
The other growing group of nihilistic behavior contain the ones that
totally reject social life. NEETs, hikkikomoris or whatever the terms, they
are absent from life, since they believe that the system is what life
is. This misconception is making people who disagree with the obvious
madness around us to reject themselves, by nullifying their presence in the
world. Hairless angels in dark basements, demanding to be nothing than
participating in what they are offered.
</p>

<p>
What we in both groups have missed out though, is that in or out, none is
out there to save us.
</p>
</div>
</div>

<div id="outline-container-org1e63b6e" class="outline-2">
<h2 id="org1e63b6e">Post-modernism for all</h2>
<div class="outline-text-2" id="text-org1e63b6e">
<p>
Truth is slippery. Here comes the good part. The biggest issue that I had
with the documentary is that the main suggestion is to try and get
legislations and control and law and all this nice stuff to save us. Let me
repeat myself. None is out there to save us.
</p>

<p>
As I discussed in the previous segment, there is some historic continuity
with the current situation. There is however a big breakthrough recently,
that makes the current situation quite fun actually. The new element is the
dissolution of the absolute truth, of the objective idea, value or
morality. Through the creation of endless safe spaces, for all kinds of
ideas, the dis-social media directly challenged truth.
</p>

<p>
We are now fed only the information that enforces our views, our
truths. This has quite the impact on reality, hence post-modernism for
all. The left considers the right dangerous and vice versa. What is then
needed is to build a big enough prison, so that we all fit in. (Wait a
minute&#x2026;)
</p>

<p>
I will be quite provocative for a bit. We have no rights. Democracy is
rigged and a facade. Don't trust anyone over 27. I'm 30. Yikes. What I'm
trying to say is that I'm bored of people seeing a problem and proposing to
return to the past for a solution. Probably has to do with the curse of the
Greyface or something. Download the Principia Discordia for instant
enlightenment, you will thank me.
</p>

<p>
OK, so now that my rant is over let me explain myself. Since the creation
of national countries there was a central truth that was enforced by a
certain institution, whether that was the church, the government or the
Illuminati. Proposing to solve our current situation by the return of the
central agency, especially with the new tools in place is a very bad move,
in my opinion. If we give the power to governments to regulate the usage of
networks and facts, what is the guarantee that things will be better? I'm
sorry but I'm quite bitter on this, as it was the main proposal in the
documentary. 
</p>

<p>
The system that created this exploitation, was blessed by governments and
institutions of all kind. When they saw what facebook accomplished in 2016,
during the USA presidential elections they were rubbing their hands
thinking of the possibilities.
</p>

<p>
My suggestion is don't buy it. We have no rights, if we have no power to
protect them. The only way forward is by embracing the divide and learn to
co-exist with those who think different from us. To do so though, we need
to transform the very values that are ingrained in us. We need to reject
success, to re-define value, to reclaim our space in nature, to liberate
ourselves from identities and roles, to reprogram our correspondences.
</p>

<p>
If we keep clinging on them, we will create even more traps as we try to
solve the current ones. As much as I despise the rapist that rapes a woman
in order to leverage her a career, even more I hate the culture that
someone needs to fall prey to others to achieve success. I hope my phrasing
is clear, and doesn't imply any kind of blaming the victims or rape. What I
mean is this concept of success is fake.
</p>
</div>
</div>

<div id="outline-container-orge30488a" class="outline-2">
<h2 id="orge30488a">Where are the fireworks?</h2>
<div class="outline-text-2" id="text-orge30488a">
<p>
I promised fireworks and hope I can deliver! All the analysis is pretty but
lives a bad taste in my mouth. Life is wonderful and has so many things to
explore, to learn, to share to experiment. Even when all seems bleak and
ominous I can't stop seeing the beauty. People everyday challenging the
world around them, experimenting and doing their best to have fun and share
it.
</p>

<p>
That's my main belief and what I see as the power of the human animal. We
just need to go out there and play more. People need adventure and games,
but the system gives them safety and work. (Is this Nietzsche again?)
Nothing is lost, we have still our connections, our dreams, our appetite
for what's true. 
</p>

<p>
We can't let some greedy no-lifers make us suffer. We can't let our sisters
and brothers feel lonely and powerless. We have to travel the path of
searching, to live the experiment of ethics and aesthetic. Here from my
small place in the cyberspace, I reach out to you and say in the most
comedic voice I ever managed to produce "Be yourself. It's gonna be daijoubu".
</p>

<p>
Think for Yourself, Schmuck!
(If you say this 5 times in front of a mirror at exactly 23:23 at 05/05
Celine Hagbard will come in your dreams and give the best recipe for
mashed potatoes.) 
</p>
</div>
</div>
<div id="footnotes">
<h2 class="footnotes">Footnotes: </h2>
<div id="text-footnotes">

<div class="footdef"><sup><a id="fn.1" class="footnum" href="#fnr.1">1</a></sup> <div class="footpara"><p class="footpara">
<a href="https://www.nytimes.com/2019/12/02/well/mind/the-crisis-in-youth-suicide.html?searchResultPosition=1">The crisis in youth suicide</a> 
</p></div></div>

<div class="footdef"><sup><a id="fn.2" class="footnum" href="#fnr.2">2</a></sup> <div class="footpara"><p class="footpara">
<a href="https://theintercept.com/2019/12/07/facebook-mark-zuckerberg-muslims-islamophobia/">Facebook's rule in islamophobia in Myanmar</a> 
</p></div></div>

<div class="footdef"><sup><a id="fn.3" class="footnum" href="#fnr.3">3</a></sup> <div class="footpara"><p class="footpara">
<a href="https://daringfireball.net/linked/2020/09/11/instagram-ceo-adam-mosseri-dickhead">Apple to block device tracking - Adam Mosseri is sad</a> 
</p></div></div>


</div>
</div>
