title: The origins of Lambda
date: 2022-01-27 01:45
tags: @tech
---
<p>
From Paradigms of Artificial Intelligence Programming, Peter Norvig, p.20-21:
</p>
<blockquote>
<p>
The name lambda comes from the mathematician Alonzo Church's notation for functions (Church
1941). Lisp usually prefers expressive names over terse Greek letters, but lambda is an exception. A
better name would be make-function. Lambda derives from the notation in Russell and Whitehead's
Principia Mathematica, which used a caret over bound variables: \(\hat{x} (x+x)\). Church wanted a
one-dimensional string, so he moved the caret in front: ^\(x(x+x)\). The caret looked funny with
nothing below it, so Church switched to the closest thing, an uppercase lambda, \(\Lambda x(x+x)\).  The Λ
was easily confused with other symbols, so eventually the lowercase lambda was substituted: \(\lambda
x(x+x)\). John McCarthy was a student of Church's at Princeton, so when McCarthy invented Lisp in
1958, he adopted the lambda notation. There were no Greek letters on the keypunches of that era, so
McCarthy used (lambda (x) (+ x x)), and it has survived to this day.
</p>
</blockquote>
