title: UEFI, MBR and other crazy stories
date: 2021-01-22 02:46
tags: @tech, blog
---
<p>
Computers can drive us all crazy before we know it so it's better to start thinking more about how
we use them and, more importantly, how we design and implement them. There are these times where
stars align and mayhem is emminent.
</p>

<p>
Our horror story today starts with a pretty mundane task. Changing a disk. Cloning my operating
system and performing what would be considered trivial in the year 2020. So let's take this from the
begining.
</p>

<p>
For my personal computer I use a <a href="https://www.lenovo.com/us/en/desktops-and-all-in-ones/thinkcentre/m-series-tiny/M700-Tiny/p/11TC1MTM70010HY">Lenovo Thinkcentre M700 tiny</a>. It's a nice little machine, fast
enough for me and keeps a low profile on my desk. Given that I find it hard to juggle around my two
monitors this little thing really works for me. I was using a very small (120GB) SSD, and since I
wanted to start over with <a href="https://guix.gnu.org/">GNU Guix</a>, I need some more space and I bought a 500GB one to move over. At
the same time, I don't really have the time to configure a new operating system. My thought was to
clone my current installation of <a href="https://www.parabola.nu/">Parabola</a> and then later I would install Guix.
</p>

<p>
For this work I decided to use the battle-tested liveCD (or rather liveUSB) that is developed by the
fine folks at <a href="https://clonezilla.org/">Clonezilla</a>. I happily burn ("ahem") my USB and proceed to try to boot it up. It seems
unrecognisable from the BIOS and I'm unable to boot from it. So I go into the settings and enable
the dreaded CSM ("Compatibility Support Module") option. This would prove to be the start of my
downfall.
</p>

<p>
At this point I'm happily creating an image of my disk and succesfully restoring to my new one. I
have to give a head up for Clonezilla since the whole procedure was really easy and problem-free. I
try to install grub, but I realize that I can't install EFI grub from a MBR medium. Seem reasonable,
but I hope I can boot from another USB, chroot and fix without any problems.
</p>

<p>
Me naively rebooting and trying to boot into any EFI system was the result of all
this. Nothing. Even my previous disk (the one I cloned), was refusing to boot and was inaccesible by
any means. I try to disable CSM. Nothing again. So I take the path of least (?) resistance. I
restore all my partitions to MBR, gdisk ftw. I install grub the traditional way. I'm back in. I now
have a computer that can only boot from hacky MBR sectors, a modern retro machine.
</p>

<p>
And to be honest I'm cool with this. But it was not a fun evening, trying to understand what
happened. I would much prefer to spend it configuring Guix, it would had take the same time, I was
trying to make the damn computer boot EFI systems. And the resolution is more of a loss than a
victory. 
</p>

<p>
I don't know if a firmware update will resolve this. I read so many horror stories for CSM in the
web that I don't hope it would. In the end dear reader, just keep this in mind. If you don't want to
forever lose the ability to boot from modern partition schemes and you own a Lenovo Thinkcentre M700
tiny, stay away from CSM.
</p>

<p>
Is this Eris?
</p>


<div id="org2a53cd1" class="figure">
<p><img src="../assets/img/erid.jpg" alt="erid.jpg" /></p>
</div>
